<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trek.id | Sewa alat berat semudah klik</title>
    <link rel="shortcut icon" type="image/x-icon" href="/etc/favicon.ico" />
  
    <!-- Bootstrap core CSS-->
    <link href="/dashboard/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/dashboard/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/dashboard/css/sb-admin.css" rel="stylesheet">

    <link href="/css/trek.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom for Sweet Alert -->
    <link href="/vendor/sweetalert/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="/vendor/sweetalert/sweetalert-trek.css" rel="stylesheet">
    <link href="/vendor/sweetalert/animate.css" rel="stylesheet">

    <script src="/vendor/sweetalert/dist/sweetalert2.min.js"></script>  

    <!-- Bootstrap core JavaScript-->
    <script src="/dashboard/vendor/jquery/jquery.min.js"></script>
    <script src="/dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/dashboard/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="/dashboard/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/dashboard/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/dashboard/js/sb-admin.min.js"></script>

    <!-- Default Script For Dashboard -->
    <script src="/js/service/dashboard.js"></script>
    <script src="/js/controller/dashboard/dashboard.js"></script>
  </head>