<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/dashboard/assets/demo/chart-area-demo.js"></script>
<script src="/dashboard/assets/demo/chart-bar-demo.js"></script>
<script src="/dashboard/js/scripts.js"></script>
<script src="/vendor/datetime-picker/js/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>


<script src="/js/controller/dashboard/user.js"></script>
<script src="/js/controller/dashboard/dashboard.js"></script>

<script src="/js/service/user.js"></script>
<script src="/js/service/company.js"></script>
<script src="/js/service/dashboard.js"></script>
<script>
    var base_url = {{.config.BaseUrlConfig.BaseDNS}};
    var product_url = {{.config.BaseUrlConfig.ProductDNS}};
    
    var session_detail = {};
    let session_detail_str = "{{ .UserDetailJSON }}";

    if(session_detail_str != ""){
        session_detail = JSON.parse(session_detail_str);
    }

    var defaultServerError = "Mohon maaf sedang terjadi kesalahan. Silahkan coba lagi.";

    function GoToHome(){
        GoToIndex('');
    }

    function GoToIndex(path){
        if(path==''){
            window.location.href = base_url;
        } else{
            window.location.href = base_url + '/' + path;
        }
    }

    function StartLoading(){
        document.getElementById('loading-pop-up').style.display = "block";
    }
    
    function FinishLoading(){
        document.getElementById('loading-pop-up').style.display = "none";
    }

    function GetSessionBasedOnEnv() {
        var hostname = window.location.hostname;
        if(hostname.includes("cgx.co.id")){
            return GetCookie('_CGX_');
        } else {
            return GetCookie('_CGX_DEV_');
        }
    }; 

    function GetCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function CheckFeature(path, method) {
        let path_url = product_url + '/auth/v1/validate-feature';
        let payload = {
            path_url: path,
            method: method
        };

        var promise = $.ajax({
            url: path_url,
            type: 'POST',
            data: JSON.stringify(payload),
            crossDomain: true,
            xhrFields: {
                withCredentials: true
            },
            headers: {
                "Authorization": GetSessionBasedOnEnv(),
                "Content-Type": "application/json",
                "Accept": "application/json"
            }
        });

        return promise;
    }

    function generateHMACHash(method, path, unixTime, secret){
        let message = method + "\n" + path + "\n" + unixTime;

        let hash = CryptoJS.HmacSHA1(message, secret);
            
        let hashInBase64 = CryptoJS.enc.Base64.stringify(hash);
        return hashInBase64 = hashInBase64.replace(" ", "-");
    }

    function setError(isShow, message = "") {
        if (isShow) {
            $("#failed-alert").removeClass("hide");
            $("#failed-alert").html(message);
        } else {
            $("#failed-alert").addClass("hide");
            $("#failed-alert").html("");
        }
    }
</script>