<script src="/js/sweetalert-main.js"></script>
<script src="/js/controller/user/user.js"></script>
<script src="/js/service/user.js"></script>
<script>
    var base_url = {{.config.BaseUrlConfig.BaseDNS}};
    var product_url = {{.config.BaseUrlConfig.ProductDNS}};

    function GoToHome(){
        GoToIndex('');
    }

    function GoToIndex(path){
        if(path==''){
            window.location.href = base_url;
        } else{
            window.location.href = base_url + '/' + path;
        }
    } 
</script>