<!-- Footer -->
    <footer class="footer bg-dark-grey">
      <div class="container" style="margin-top:-3em;">
        <div class="row">
          <div class="col-lg-3">
          
            <p style="color:white; margin-bottom:-8%;">Trek</p>
            <br><a style="cursor:pointer;color:#ffcc00;text-decoration: underline;text-decoration-color: #ffcc00;">Apa itu Trek ?</a>
            <br><a style="cursor:pointer;color:#ffcc00;text-decoration: underline;text-decoration-color: #ffcc00;">Tonton video penjelasan</a>
            <br><a target="_blank" href="http://blog.trek.id" style="cursor:pointer;color:#ffcc00;text-decoration: underline;text-decoration-color: #ffcc00;">Blog</a>
          </div>

          <div class="col-lg-2">
            <p style="color:white; margin-bottom:-8%;">Hubungi kami</p>
            <br><a href="tell:08111368735" style="cursor:pointer;color:#ffcc00;text-decoration: underline;text-decoration-color: #ffcc00;">0811-136-TREK</a>
            <br><a href="mailto:info@trek.id" style="cursor:pointer;color:#ffcc00;text-decoration: underline;text-decoration-color: #ffcc00;">info@trek.id</a>

            <br><p style="color:white; margin-bottom:-3%;">Jam layanan</p>
            <p style="color:white; margin-bottom:-3%;">Senin - Jumat</p>
            <p style="color:white; margin-bottom:-3%;">09.00 - 17.00 WIB</p>
          </div>

          <div class="col-lg-2">
            <p style="color:white; margin-bottom:-8%;">Penyewa</p>
            <br><a href="http://sewa.trek.id" style="cursor:pointer;color:#ffcc00;text-decoration: underline;text-decoration-color: #ffcc00;">Sewa sekarang</a>
          </div>

          <div class="col-lg-3">
            <p style="color:white; margin-bottom:-8%;">Penyedia</p>
            <br><a onClick="javascript:GoToIndex('penyedia')" style="cursor:pointer;color:#ffcc00;text-decoration: underline;text-decoration-color: #ffcc00;">Pelajari lebih lanjut</a>
            <br><a style="cursor:pointer;color:#ffcc00;text-decoration: underline;text-decoration-color: #ffcc00;">Daftar jadi penyedia</a>
          </div>

          <div class="col-lg-2" style="padding-right: 0px;">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="https://www.facebook.com/trekdotid" style="color:white;" target="_blank">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="https://twitter.com/trekdotid" style="color:white;" target="_blank">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/trek.id" style="color:white;" target="_blank">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="row" style="margin-top: 3%;">
          <div class="col-lg-12 text-center" style="color:white;">
            	&copy; Trek | <a onClick="javascript:GoToIndex('syarat')" style="cursor:pointer;color:#ffcc00;text-decoration: underline;text-decoration-color: #ffcc00;">Syarat dan Ketentuan</a> | 
              <a onClick="javascript:GoToIndex('kebijakan')" style="cursor:pointer;color:#ffcc00;text-decoration: underline;text-decoration-color: #ffcc00;">Kebijakan Privasi</a>
          </div>
        </div>
      </div>
    </footer>