<!-- Footer -->
    <footer class="pt-4 mb-md-5 container" style="background-color:#febe2f">
        <div class="row" style="font-size:0.8em;">
            <div class="col-6 col-lg ">
                <h6>Tentang CGX</h6>
                <ul class="list-unstyled text-small">
                  <li class="mt-2"><a target="_blank" href="#" onClick="javascript:GoToIndex('about-us')" class="text-muted" >About Us</a></li>
                  <li class="mt-2" ><a target="_blank" href="#" onClick="javascript:GoToIndex('syarat')" class="text-muted" >Terms and Condition</a></li>
                  <li class="mt-2" ><a target="_blank" href="#" onClick="javascript:GoToIndex('kebijakan')" class="text-muted" >Privacy Policy</a></li>
                </ul>
            </div>
            
            <div class="col-12 col-lg">
              <div class="mb-3">
                <h6>Office :</h6>
                <span class="mt-2 text-small">
                  Jalan Raya Pondok Gede No. I 8R,
                  <br>Jakarta Timur, Indonesia I 3810
                </span>
              </div>
              <div class="mb-3">
                <h6>Werehouse :</h6>
                <span>
                  Jalan Wibawa Mukti No.90,
                  <br>Jati Asih, Bekasi, Indonesia
                </span>
              </div>
            </div>

            <div class="col-6 col-lg">
              <h6>Hubungi Kami</h6>
              <div class="mb-3">
                <span class="mt-2 text-small">Phone: 021 8243 5678</span>
              </div>
              <div class="mb-3 text-small">
                <span>
                  Mobile: +62 813-8595-4267
                </span>
              </div>
            </div>

            <div class="col-12 col-lg ">
              <img src="img/logo-cgx.png" alt="" width="100" height="100">
              <ul class="list-inline mb-3">
                  <li class="list-inline-item">
                    <a href="https://www.facebook.com"  style="color:black;font-size:1.7em;" target="_blank">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://twitter.com" style="color:black;font-size:1.7em;" target="_blank">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://www.instagram.com" style="color:black;font-size:1.7em;" target="_blank">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://www.whatsapp.com" style="color:black;font-size:1.7em;" target="_blank">
                      <i class="fa fa-whatsapp"></i>
                    </a>
                  </li>
                </ul>
                <span class="d-block mb-0 text-muted">© 2019</span>
            </div>
        </div>
      </footer>