<!-- Footer -->
    <footer class="footer bg-dark-grey">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a onClick="javascript:GoToIndex('syarat')" style="color:white; cursor:pointer;">Syarat dan Ketentuan</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a onClick="javascript:GoToIndex('kebijakan')" style="color:white; cursor:pointer;">Kebijakan Privasi</a>
              </li>
              
            </ul>
            <p class=" small mb-4 mb-lg-0" style="color:white;">&copy; Trek 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="https://www.facebook.com/trekdotid" style="color:white;" target="_blank">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="https://twitter.com/trekdotid" style="color:white;" target="_blank">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/trek.id" style="color:white;" target="_blank">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>