<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trek.id | Sewa alat berat semudah klik</title>
    <link rel="shortcut icon" type="image/x-icon" href="/etc/favicon.ico" />
  
    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">    
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="/vendor/datetime-picker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="/css/landing-page.css" rel="stylesheet">    
  </head>