<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-trek">
    <a style="cursor: pointer; padding-right: 50%;" onClick="javascript:GoToIndex('home')">
        <img src="/img/logo-cgx.png" width="100" height="100" class="d-inline-block align-top" alt="" style="margin-right:20px;">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" onClick="javascript:GoToIndex('home')" style="background-image: none; text-decoration: underline;"><b>About</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" onClick="javascript:GoToIndex('faq')" style="background-image: none; text-decoration: underline;"><b>FAQ</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" onClick="javascript:GoToIndex('about-us')" style="background-image: none; text-decoration: underline;"><b>Contact</b></a>
            </li>
        </ul>
    </div>
</nav>