<!DOCTYPE html>
<html lang="en">

  {{ template "header.tmpl" .}}

  <body data-spy="scroll" data-target=".navbar" data-offset="1">

    {{ template "main-navigation.tmpl" .}}    

    <section class="features-icons bg-white text-center">
        <div class="container">
          <div class="row" style="text-align: left">
            <div class="col-lg-12" >
              <h4 style="line-height: 2em;">Frequently Asked Questions</h4>
            </div>
            <div class="col-lg-12" style="margin-top: 3em;">
              <h6>How much it cost for Shipment and Warehouse in CGX ?</h6>
              <span>
                  We have our standard published rate. However, we also have a price that can be customized according to your needs.
              </span>
            </div> <!-- end of col-lg-12 -->

            <div class="col-lg-12" style="margin-top: 3em;">
              <h6>How is the shipment process ?</h6>
              <span>
                Our shipment will be proceed based on type of services and type of transportation that you choose. 
                After we receive a delivery order, our operational team will be delivery order, our operational team 
                will be deliver your package safely.
              </span>
            </div> <!-- end of col-lg-12 -->

            <div class="col-lg-12" style="margin-top: 3em;">
              <h6>What kind of service that CGX offered ?</h6>
              <span>
                CGX will ensure that your goods are delivered to the destination with various choices of lines and 
                types mode of transportation ranging from Land Transportations, Sea Transportations, Air Transportations, Multi Modes 
                and last but not least, Courier.  In addition, we also accept overseas shipping services.
              </span>
            </div> <!-- end of col-lg-12 -->

            <div class="col-lg-12" style="margin-top: 3em;">
              <h6>If I want to rent a space at CGX warehouse, how is the operational process at CGX ?</h6>
              <span>
                  The operational process that we implement is starting from
                  handling in and out by checking the quality and quantity when the goods arrived, sorting and
                  storing goods on our warehouse.
              </span>
            </div> <!-- end of col-lg-12 -->

            <div class="col-lg-12" style="margin-top: 3em;">
              <h6>How is the fulfillment process ?</h6>
              <span>
                  CGX Logistics will assist three crucial aspects of operations, 
                  from managing stock, shipping goods supported by expertise with an affordable location, 
                  and 100% guarantee. Our framework that we offer starts from pick up the
                  to stock checking price, goods strategic from factory, warehousing, managing stock, 
                  packing and deliver it to your
              </span>
            </div> <!-- end of col-lg-12 -->

            <div class="col-lg-12" style="margin-top: 3em;">
              <h6>Does the service offered include insurance ?</h6>
              <span>
                  All risks in warehousing are covered 100% As by for CGX Logistics. 
                  shipping services, insurance will provided according to be your request, 
                  which refers to the value of the item you wish to insure.
              </span>
            </div> <!-- end of col-lg-12 -->

          </div>
        </div>
      </section>

      {{ template  "footer.tmpl" .}}
  </body>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112381262-1"></script>
<script src="/js/controller/product/index.js"></script>
<script src="/js/controller/product/product.js"></script>
<script src="js/service/product.js"></script>
<!--Start of Tawk.to Script-->
{{ template "default-script.tmpl" .}}
</html>
