<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Trek.id | Sewa alat berat semudah klik</title>
    <meta name="description" content="Trek.id membuat sewa alat berat menjadi semudah klik. Butuh excavator, dump truck, atau forklift? Reservasi sekarang di Trek.id atau hubungi 0811-136-TREK.">
    <meta name="keywords" content="sewa alat konstruksi,sewa alat berat,sewa alat,rental alat,alat berat,alat konstruksi,equipment rental Indonesia,sewa dozer,sewa excavator,sewa forklift,sewa dump truck,sewa wheel loader,sewa heavy equipment,forklift Surabaya,dump truck bandung">
    <meta name="robots" content="index, nofollow">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="etc/favicon.ico" />

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet">
    
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="1">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="myNavbar">
      
        <a href="index">
            <img src="img/logo-trek.png" width="100" height="35" class="d-inline-block align-top" alt="" style="margin-right:20px;">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="margin:0 10px 0;">
              <a class="nav-link js-scroll-trigger" href="#tentang-kami"><b>TENTANG KAMI</b> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" style="margin:0 10px 0;">
              <a class="nav-link js-scroll-trigger" href="#keunggulan"><b>KEUNGGULAN</b></a>
            </li>
          
            <li class="nav-item " style="margin:0 10px 0;">
              <a class="nav-link js-scroll-trigger" href="#penyedia-alat"><b>PENYEDIA ALAT</b></a>
            </li>
          </ul>
          <a class="btn btn-trek" style="margin:0 10px 0; color: rgba(14, 14, 14, 0.68);"href="tel:+628111368735"><i class="fa fa-phone"></i> 0811-136-TREK (8735)</a>
        </div>
      </nav>

    <!-- Masthead -->
    <header class="masthead text-black">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-left">

            <span class="heading-landing mb-5">Sewa alat berat <br>semudah klik</span>
            <br>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-left" style="padding-top:3.5rem">
            <a class="btn btn-home btn-lg" target="_blank" href="sewa" >SEWA SEKARANG</a>
          </div>
          </div>
        </div>
      </div>
    </header>

    <section class="features-icons bg-white text-center" id="keunggulan">
        <div class="container">
          <div class="row" >
            <div id="parent-list-products"></div>
          </div>  
        </div>
      </section>

    <!-- keterangan trek -->
    <section class="features-icons bg-light-grey text-center" id="tentang-kami">
        <div class="container">
          <div class="row">
            <div class="col-lg-12" >
                <h2 style>Kami carikan alat berat yang Anda butuhkan</h2>
                <p class="about" style="padding-top:0.2rem;font-size: 1rem;padding-bottom:0.5rem;">Dengan mitra tersebar di seluruh Indonesia, Trek adalah tempat paling tepat untuk mencari alat terbaik sesuai dengan kebutuhanmu. Reservasi sekarang atau hubungi 0811-136-TREK.</p>
               <a data-toggle="modal" data-target="#myModal"  class="btn btn-home btn-sm" href="" >TONTON VIDEO KAMI</a>
            </div>
            <div class="modal fade" id="myModal" role="dialog" width="auto" height="auto">
            <div class="modal-dialog">            
              <!-- Modal content-->
              <div class="modal-content" style="background-color: rgba(255, 0, 0, 0); border: none;">
                <div class="video-responsive">
                  <iframe width="560" height="315" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/xuxBl5JWCPo"></iframe>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </section>

       <section class="features-icons bg-white text-center" id="keunggulan">
        <div class="container">
          <div class="row" >
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                  <img src="img/choice.png" style="min-width:10rem;"alt="pilihan beragam">
                </div>
                <h3 style="padding-top:1rem;text-align:left;">Pilihan beragam</h3>
                <p class="desc">Jaringan Trek yang terbuka untuk setiap penyedia alat di seluruh Indonesia memungkinkan tersedianya pilihan yang kompetitif untuk pengguna.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                  <img src="img/easy.png" style="min-width:10rem;"alt="mudah digunakan">
                </div>
                <h3 style="padding-top:1rem;text-align:left;">Mudah digunakan</h3>
                <p class="desc">Kami menawarkan kemudahan dalam proses sewa-menyewa alat berat. Tak perlu lagi ikuti birokrasi yang rumit dan tidak efisien.</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                  <img src="img/dimanasaja.png" style="min-width:10rem;"alt="kapan saja dimana saja">
                </div>
                <h3 style="padding-top:1rem;text-align:left;">Kapan saja, di mana saja</h3>
                
                <p class="desc">Anda bisa melakukan reservasi alat berat di mana saja dan kapan saja, baik melalui situs web maupun telepon.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="features-icons bg-trek text-center" id="penyedia-alat">
          <div class="overlay-trek">
              <img class="trek-img" src="img/trek-roda.png" style="min-width:10rem;"alt="kapan saja dimana saja">
            </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12" style="padding-top:2rem;">
                  <h2 style>Punya alat berat yang mau disewakan?</h2>
                  <p class="about" style="padding-top:0.2rem;font-size: 1rem;padding-bottom:0.5rem;">Bergabunglah bersama jaringan Penyedia Alat Trek dan dapatkan uang lebih dari alat beratmu.</p>
                 <a  class="btn btn-trek btn-sm" href="penyedia" >PELAJARI LEBIH LANJUT</a>
              </div>
              <div class="modal fade" id="myModal" role="dialog" width="auto" height="auto">
              <div class="modal-dialog">            
                <!-- Modal content-->
                <div class="modal-content" style="background-color: rgba(255, 0, 0, 0); border: none;">
                  <div class="video-responsive">
                    <iframe width="560" height="315" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/xuxBl5JWCPo"></iframe>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </section>


        <section class="features-icons bg-light-grey text-center">
            <div class="container">
              <div class="col-lg-6">
                  <h3 style=" text-align: left !important;">Jangan ketinggalan informasi</h3>
                  <p style="font-weight:bold;text-align: left !important;" >Masukkan email Anda untuk berlangganan berita terbaru dari Trek</p>
                  <form action="https://trek.us17.list-manage.com/subscribe/post?u=2b7fba7aa3db26d3132ece12d&amp;id=40e8dc06ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="input-group input-group-newsletter">
                        <input type="email" value="" name="EMAIL" class="form-control email" id="mce-EMAIL" placeholder="Berlangganan berita Trek..." required>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2b7fba7aa3db26d3132ece12d_40e8dc06ef" tabindex="-1" value=""></div>
                        <span class="input-group-btn">
                            <button class='btn btn-secondary' type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Kirim</button>
                        </span>
                    </div>
              
                  </form> 

              </div>

            </div>
          </section>

   
 
    <!-- Footer -->
    <footer class="footer bg-dark-grey">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="syarat" style="color:white;">Syarat dan Ketentuan</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="kebijakan"style="color:white;">Kebijakan Privasi</a>
              </li>
            </ul>
            <p class=" small mb-4 mb-lg-0" style="color:white;">&copy; Trek 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="https://www.facebook.com/trekdotid" style="color:white;" target="_blank">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="https://twitter.com/trekdotid" style="color:white;" target="_blank">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/trek.id" style="color:white;" target="_blank">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112381262-1"></script>
<script src="/js/controller/product/index.js"></script>
<script src="/js/controller/product/product.js"></script>
<script src="js/service/product.js"></script>
<!--Start of Tawk.to Script-->
{{ template "default-script.tmpl" .}}
<script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/5a96694cd7591465c7081805/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();

    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112381262-1');
  </script>
</html>
