<!DOCTYPE html>
<html lang="en">
{{ template "header.tmpl" .}}
  <body data-spy="scroll" data-target=".navbar" data-offset="1">
    {{ template "main-navigation.tmpl" .}}    
      <header class="masthead text-black no-gutters" id="trek-bg">
          <div class="container-fluid-width clearfix" id="trek-bg">
            <div class="row no-gutters h-100 ">
              <div class="col-lg-8 offset-lg-4 header-img">
                  <div id="msgErreur" class="justify-content-center">
                      <div> <h1 class="pt-5 mt-5 ht" style="font-size: 3.4em;">
                          SOLUTIONS IN NEED
                        </h1>
                        <h4 style="font-weight: 400; letter-spacing: 2px; line-height: 1.5em;">
                          CGX offers you logistic solutions for every type of business out there. Let us store, pick up, and ship for you! Plus, receive our analytical evaluation custom to your needs, so you can focus on your customer and growth.
                        </h4>
                      
                      
                      </div>
                  </div>
              </div>
            </div> <!-- end of row -->
          </div>
        </header>
  

    <section class="features-icons my-lg-3 py-5">
      <div class="container">
        <div class="row" >
          <div class="col-lg-12 mb-2">
            <h2>
             OUR SOLUTIONS:
            </h2>
          </div>
          <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <img src="img/store-icon.png" class="m-5" style="min-width:10rem;" alt="Store your product">
              </div>
              <h5 style="padding-top:1rem;text-align:center;">Store your product</h5>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <img src="img/web_icon.png" class="m-5" style="min-width:10rem;" alt="Manage your orders">
              </div>
              <h5 style="padding-top:1rem;text-align:center;">Manage your orders</h5>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <img  src="img/pack_icon.png"class="m-5" style="min-width:10rem;" alt="Pack your orders professionally">
              </div>
              <h5 style="padding-top:1rem;text-align:center;">Pack your orders<br>professionally</h5>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <img src="img/ship_icon.png" class="m-5" style="min-width:10rem;" alt="Ship them accurately">
              </div>
              <h5 style="padding-top:1rem;text-align:center;">Ship them accurately</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-5 bg-trek" >
      <div class="container">
        <div class="row">
          <div class="col-md-5 order-1 order-md-1" style="margin: auto;">
           
            <h2>SAVE TIME & ENJOY OUR BENEFITS!</h2>
    
          </div>
          <div class="col-md-7 order-2 order-md-2">
            <ul class="list-inline">
              <li class="d-flex py-3"> <img src="img/benefit_scallable.png" class="features-icons-2 mr-4" alt="scalable"></span>
                <div>
                    <h5>SCALABILITY FULFILLMENT</h5>
                    <p>
                        We store, regular quality control check, profesionally pack, 
                        and manage your inventory. No matter how big or small, 
                        our space is ready for your company growth.
                    </p>
                </div>
              </li>
              <li class="d-flex py-3"> <img src="img/benefit_analitik.png" class="features-icons-2 mr-4" alt="analysis evaluation"></span>
                <div>
                  <h5>ANALYTICAL EVALUATION</h5>
                  <p>
                    We don't just pack and ship, 
                    we will also give you an in-depth insight 
                    (e.g: which product sells the most in which time of 
                    the year, etc). 
                    Giving you a more accurate knowledge of your customer 
                    behavior. 
                  </p>
                </div>
              </li>
              <li class="d-flex py-3"><img src="img/benefit_accurate.png" class="features-icons-2 mr-4" alt="accurate"></span>
                <div>
                    <h5>ACCURATE LOGISTIC SERVICE</h5>
                    <p> 
                      We arrange your shipment accurately with the most 
                      efficient cost. Whether its by land, air, sea, 
                      or multi mode, we deliver on time to satisfy you and 
                      your customer needs.
                    </p>
                </div>
              </li>
              <li class="d-flex py-3"> <img src="img/benefit_secured.png" class="features-icons-2 mr-4" style="margin: 0 0;" alt="secure facilities"></span>
                <div>
                    <h5>SECURED FACILITY</h5>
                    <p>
                      Our facilities have 'round the clock (24/7) supervision, 
                      we guarantee your products safety and security.
                    </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  

    <section class="features-icons text-center mt-4">
      <div class="container">
        <div class="row" >
          <div class="col-lg-12 mb-2"><h2 class="mb-5 text-center">Clients</h2></div>
          <div class="col-lg-12 mb-2" style="text-align: center; font-weight: bolder">
            <div class="row py-4">

              <div class="col-lg-3" style="margin: auto;">
                <div class="mx-auto mb-2">
                  <div class="d-flex">
                    <img src="img/partner/bw-airnav.png" class="features-icons-2" alt="air nav">
                  </div>
                </div>
              </div>

              <div class="col-lg-3" style="margin: auto;">
                <div class="mx-auto mb-2">
                  <div class="d-flex">
                    <img src="img/partner/bw-cut-lane.png" class="features-icons-2" alt="cut lane">
                  </div>
                </div>
              </div>

              <div class="col-lg-3" style="margin: auto;">
                <div class="mx-auto mb-2">
                  <div class="d-flex">
                    <img src="img/partner/bw-geofreight.png" class="features-icons-2" alt="geofright">
                  </div>
                </div>
              </div>

              <div class="col-lg-3" style="margin: auto;">
                <div class="mx-auto mb-2">
                  <div class="d-flex">
                    <img src="img/partner/bw-big.png" class="features-icons-2" alt="big">
                  </div>
                </div>
              </div>

            </div>
          </div>
          
          <div class="col-lg-12 mb-2" style="text-align: center; font-weight: bolder">
            <div class="row">

              <div class="col-lg-3" style="margin: auto;">
                <div class="mx-auto mb-2">
                  <div class="d-flex">
                    <img src="img/partner/bw-everwhite.png" class="features-icons-2" alt="everwhite">
                  </div>
                </div>
              </div>

              <div class="col-lg-3" style="margin: auto;">
                <div class="mx-auto mb-2">
                  <div class="d-flex">
                    <img src="img/partner/bw-pakde.png" class="features-icons-2" alt="pakde">
                  </div>
                </div>
              </div>

              <div class="col-lg-3" style="margin: auto;">
                <div class="mx-auto mb-2">
                  <div class="d-flex">
                    <img src="img/partner/bw-ojk.png" class="features-icons-2" alt="ojk">
                  </div>
                </div>
              </div>

              <div class="col-lg-3" style="margin: auto;">
                <div class="mx-auto mb-2">
                  <div class="d-flex">
                    <img src="img/partner/bw-rollerover.png" class="features-icons-2" alt="rollerover">
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-12 mb-2" style="text-align: center; font-weight: bolder">
            <div class="row py-4">

              <div class="col-lg-3" style="margin: auto;">
                <div class="mx-auto mb-2">
                  <div class="d-flex">
                    <img src="img/partner/bw-transvision.png" class="features-icons-2" alt="transvision">
                  </div>
                </div>
              </div>

              <div class="col-lg-3" style="margin: auto;">
                <div class="mx-auto mb-2">
                  <div class="d-flex">
                    <img src="img/partner/bw-fors.png" class="features-icons-2" alt="fors">
                  </div>
                </div>
              </div>

              <div class="col-lg-3" style="margin: auto;">
                <div class="mx-auto mb-2">
                  <div class="d-flex">
                    <img src="img/partner/bw-wif.png" class="features-icons-2" alt="wif">
                  </div>
                </div>
              </div>

              <div class="col-lg-3" style="margin: auto;">
                <div class="mx-auto mb-2">
                  <div class="d-flex">
                    <img src="img/partner/bw-woobiz.png" class="features-icons-2" alt="woobiz">
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </section>


    <section class="py-5 my-4">
        <div class="container">
          <h2 class="mb-5 text-center">FAQ</h2>
          <div class="accordion" id="faq-01">
            <div class="mb-2 border-bottom">
              <h5 id="faq-heading1-01">
                <button class="btn btn-link btn-block text-left d-flex text-dark" type="button" data-toggle="collapse" data-target="#faq-collapse1-01" aria-expanded="false" aria-controls="faq-collapse1-01" style="white-space:normal !important;text-decoration:none; word-wrap: break-word">
                  How much does the shipment and warehouse services cost at CGX?
                  <img class="p-1 ml-auto my-auto" src="img/chevron-circle-down.svg" alt="">
                </button>
              </h5>
              <div class="collapse" id="faq-collapse1-01" aria-labelledby="faq-heading1-01" data-parent="#faq-01" style="margin: -15px 0 0 0.7em">
                <p>
                  Our prices and rates here at CGX are standard published rate that you can acquire by emailing us at info@cgxlogistic.co.id. However, we also offer customized prices and rates that can be adjusted based on your needs.
                </p>
              </div>
            </div>
            <div class="mb-2 border-bottom">
              <h5 id="faq-heading2-01">
                <button class="btn btn-link btn-block text-left d-flex text-dark" type="button" data-toggle="collapse" data-target="#faq-collapse2-01" aria-expanded="false" aria-controls="faq-collapse2-01" style="white-space:normal !important; text-decoration:none;word-wrap: break-word">
                  How does CGX shipment process works? 
                  <img class="p-1 ml-auto my-auto" src="img/chevron-circle-down.svg" alt="">
                </button>
              </h5>
              <div class="collapse" id="faq-collapse2-01" aria-labelledby="faq-heading2-01" data-parent="#faq-01" style="margin: -15px 0 0 0.7em">
                <p>
                  Our shipment process will be based on the type of service and mode of transportation of your choosing. 
                  After we receive a delivery order, our well-trained and experienced operational team will deliver your 
                  package safely & accurately.
                </p>
              </div>
            </div>
            <div class="mb-2 border-bottom">
              <h5 id="faq-heading3-01">
                <button class="btn btn-link btn-block text-left d-flex text-dark" type="button" data-toggle="collapse" data-target="#faq-collapse3-01" aria-expanded="false" aria-controls="faq-collapse3-01" style="white-space:normal !important; text-decoration:none;word-wrap: break-word">
                  What are the types of shipment services that CGX offer?
                  <img class="p-1 ml-auto my-auto" src="img/chevron-circle-down.svg" alt="">
                </button>
              </h5>
              <div class="collapse" id="faq-collapse3-01" aria-labelledby="faq-heading3-01" data-parent="#faq-01"  style="margin: -15px 0 0 0.7em">
                <p>
                  Ensuring that your package arrives safely is our number one priority. We offer various modes of transportation 
                  ranging from Land Transport, Sea Transport, Air Transport, as well as Multi Mode. We also offer shipment via our 
                  Courier Service. In addition, CGX also accepts overseas and international shipping services.
                </p>
              </div>
            </div>
            <div class="mb-2 border-bottom">
              <h5 id="faq-heading5-01">
                <button class="btn btn-link btn-block text-left d-flex text-dark" type="button" data-toggle="collapse" data-target="#faq-collapse5-01" aria-expanded="false" aria-controls="faq-collapse5-01" style="white-space:normal !important;text-decoration:none; word-wrap: break-word">
                    How does the fulfillment process works?
                  <img class="p-1 ml-auto my-auto" src="img/chevron-circle-down.svg" alt="">
                </button>
              </h5>
              <div class="collapse" id="faq-collapse5-01" aria-labelledby="faq-heading5-01" data-parent="#faq-01" style="margin: -15px 0 0 0.7em">
                <p>
                  CGX fulfillment service manage three crucial parts in an operational system which includes; stock management, item delivery, 
                  as well as inventory that are done by professionals. We offer this service with reasonable prices, strategic location, and any 
                  risks that might occur in our warehouse are under our responsibility.
                </p>
              </div>
            </div>
            <div class="mb-2 border-bottom">
              <h5 id="faq-heading6-01">
                <button class="btn btn-link btn-block text-left d-flex text-dark" type="button" data-toggle="collapse" data-target="#faq-collapse6-01" aria-expanded="false" aria-controls="faq-collapse6-01" style="white-space:normal !important;text-decoration:none; word-wrap: break-word">
                  Does CGX services includes insurance?
                  <img class="p-1 ml-auto my-auto" src="img/chevron-circle-down.svg" alt="">
                </button>
              </h5>
              <div class="collapse" id="faq-collapse6-01" aria-labelledby="faq-heading6-01" data-parent="#faq-01" style="margin: -15px 0 0 0.7em">
                <p> 
                  CGX offers the best treatment possible for all of our services. For risks that might occur in our warehouse are 100% covered 
                  by CGX and will be under our responsibility. However for any shipment services, insurance will be provided upon request depending 
                  on the value of items that you wish to insure.
                </p>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- <section class="features-icons text-center">
      <div class="container">
        <div class="row" >
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12 mb-2" style="text-align: center; font-weight: bolder">
                <h4>
                  Ready to grow your bussiness
                  <br>with us ?</h4>
              </div>
          
              <div class="col-lg-12 mb-2" style="text-align: center; font-weight: bolder;">
                <a class="btn btn-lg"
                      target="_blank"
                      style="border:2px solid black; border-radius: 25px;"
                      onClick="javascript:GoToIndex('home')">Get in touch!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

      <section class="py-5 bg-trek">
          <div class="container">
            <h2 class="my-3 text-center">
              Ready To Grow Your Business With Us?
            </h2>
            <div class="row pt-md-5">
              <div class="col-md-6 my-3 mb-md-0">
                <h5>Drop in your questions!</h5>
                <p class="mb-5 text-muted"> For any inquiries feel free to contact us, we're here to help!</p>
                <div>
                  <div class="d-flex-custom"><img class="mb-3 mr-3" src="img/map-marker.svg" alt="">
                    <p>Office :<br>
                        Jalan Raya Pondok Gede No. I 8R,
                        Jakarta Timur, Indonesia I 3810<br>
                        Warehouse :<br>
                        Jalan Wibawa Mukti No.90,
                        Jati Asih, Bekasi, Indonesia</p>
                  </div>
                  <div class="d-flex-custom"><img class="mb-3 mr-3" src="img/phone.svg" alt="">
                    <p>
                      Phone: 021 8243 5678
                      <br><br>
                      <a href="https://api.whatsapp.com/send?phone=6281311869937">
                        Mobile: +62 813-1186-9937
                      </a>
                    </p>
                  </div>
                  <div class="d-flex-custom"><img class="mb-3 mr-3" src="img/envelope.svg" alt="">
                    <p>info@cgxlogistic.co.id</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <form>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="fullname"><h6>Name</h6></label>
                        <input class="form-control" id="fullname">
                        <div class="form_error hide" id="fullname-error"></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="company"><h6>Company</h6></label>
                        <input class="form-control" id="company">
                        <div class="form_error hide" id="company-error"></div>
                    </div>
                  </div>
                  <div class="row ">
                      <div class="col-md-6 mb-3">
                          <label for="email"><h6>Email</h6></label>
                      <input type="email" class="form-control" id="email">
                      <div class="form_error hide" id="email-error"></div>
                      </div>
                      <div class="col-md-6 mb-3">
                          <label for="phone"><h6>Phone</h6></label>
                          <input class="form-control" id="phone">
                          <div class="form_error hide" id="phone-error"></div>
                      </div>
                    </div>
                  <label class="sr-only" for="textarea-contacts-01">Project description</label>
                  <textarea class="form-control mb-3" id="project" rows="5" placeholder="Project description...."></textarea>
                  <div class="form_error hide" id="project-error">
                      <!-- mohon isi deskripsi project anda -->
                    </div>
                  <button class="btn btn-trek btn-block" type="submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </section>
      <footer class="bg-trek">
          <div class="container">
            <div class="d-flex justify-content-center align-items-center flex-column">
              <!-- <h5 class="mb-3"><a href="#">CGX</a></h5> -->
              <img src="/img/logo-cgx.png" width="100" height="100" alt="" >
              <div class="d-flex mb-3"><a href="#"><img class="mr-3" src="img/twitter.svg" alt=""></a><a href="#"><img class="mr-3" src="img/facebook-f.svg" alt=""></a><a href="#"><img class="mr-3" src="img/instagram.svg" alt=""></a><a href="#"><img src="img/linkedin-in.svg" alt=""></a></div>
              <div class="d-flex">
                <p class="mb-0 small text-muted">&copy; 2020 CGX. All right reserved.</p>
              </div>
            </div>
          </div>
      </footer>
  </body>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112381262-1"></script>
<script src="/js/controller/product/index.js"></script>
<script src="/js/controller/product/product.js"></script>
<script src="js/service/product.js"></script>
<!--Start of Tawk.to Script-->
{{ template "default-script.tmpl" .}}
</html>
