<!DOCTYPE html>
<html lang="en">
  {{ template "header.tmpl" .}}
  <body>
    
    {{ template "main-navigation.tmpl" .}}    
    
    <div class="col-md-12">
        <object width="100%" height="500px" data="file/Kebijakan Privasi.pdf"></object>   
    </div>
    {{ template  "footer.tmpl" .}}

  <!--End of Tawk.to Script-->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112381262-1"></script>
    {{ template "default-script.tmpl" .}}
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-112381262-1');
    </script>
  </body>

</html>
