<!DOCTYPE html>
<html lang="en">
  {{ template "header.tmpl" .}}
  <body data-spy="scroll" data-target=".navbar" data-offset="1">
    
    {{ template "main-navigation.tmpl" .}}
    
    <!-- Masthead -->
    <header class="provider text-black">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-left">

            <span class="heading-landing mb-5">Punya alat berat yang mau disewakan? </span><br><br>
              <span class="provider-landing mb-5">
                    Cari proyek di Trek dengan telusuri permintaan yang ada
            </span>  
               
            <br>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-left" style="padding-top:3.5rem">
            <a class="btn btn-home btn-lg" target="_blank" href="permintaan" >TELUSURI PERMINTAAN SEWA</a>
          </div>
          </div>
        </div>
      </div>
    </header>
    <section class="features-icons bg-light-grey text-center" id="keunggulan">
        <div class="container">
          <div class="row" >
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="col-12 equal">
                        <h3 style="padding-top:1rem;text-align:left;">Permintaan sewa berlimpah</h3>
                    </div>    
                    <div class="col align-self-center">
                        <p class="desc">Dengan permintaan yang
                                tersebar dan mengalir selalu,
                                jangan pernah takut alatmu
                                nganggur setelah bergabung
                                bersama Trek.</p>  
                    </div>
                 </div>
            </div>
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="col-12 equal">
                    <h3 style="padding-top:1rem;text-align:left;">Daftar cuma-cuma</h3>
                </div>
                
                <div class="align-self-center">
                        <p class="desc">Registrasi sebagai mitra
                                Penyedia Alat Trek tidak
                                dipungut biaya apapun.</p>  
                    </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                <div class="col-12 equal">
                    <h3 style="padding-top:1rem;text-align:left;">Selalu update</h3>
                </div>
                        

                <div class="align-self-center">
                    <p class="desc">Trek akan mengirim notifikasi
                            melalui SMS dan email kepada
                            Anda segera setelah
                            permintaan sewa yang relevan
                            masuk.</p>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- keterangan trek -->


    <!-- <section class="features-icons bg-light-grey text-center" id="tentang-kami">
        <div class="container">
          <div class="row">
            <div class="col-lg-12" >
                <h2 style>Siap bergabung jadi Penyedia Alat?</h2>
            </div>
            <span class="col-lg-12 text-center" style="padding-top:2rem;">

                    <a data-toggle="modal" data-target="#myModal"  class="btn btn-trek btn-sm" href="" >DAFTAR JADI PENYEDIA</a>
                    
            </span>
            
          </div>
      
          
        </div>
      </section> -->

    <section class="features-icons bg-trek text-center" id="pertanyaan">
            <div class="container">
              <div class="row">
                <div class="col-lg-12" >
                    <h2 style>Punya pertanyaan lebih lanjut?</h2>
                </div>
              </div>
              <div class="row justify-content-around" style="padding-top:2rem;">
                  <div class="col-4">
                        <a class="btn btn-trek btn-sm float-right" href="mailto:info@trek.id?Subject=Hallo%20Trek" >EMAIL: INFO@TREK.ID</a>
                        
                  </div>
                  <div class="col-4">
                        <a class="btn btn-trek btn-sm float-left" href="tel:+628111368735" >TELP: 0811-136-TREK</a>
                        
                  </div>
                <!-- <div class="col-lg-6 text-center">
                    <a class="btn btn-trek btn-sm float-right" href="" >EMAIL: INFO@TREK.ID</a>
              
                    <a class="btn btn-trek btn-sm float-left" href="" >TELP: 0811-136-TREK</a>
                        
                </div> -->
              </div>
              <!-- <span class="col-lg-12 text-center" style="padding-top:2rem;">
                    
                                        
                                </span> -->
          
              
            </div>
          </section>

    {{ template  "footer.tmpl" .}}    
    
  </body>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112381262-1"></script>
{{ template "default-script.tmpl" .}}
<script>
$(document).ready(function(){
  // Add scrollspy to <body>
  $('body').scrollspy({target: ".navbar", offset: 50});   

  // Add smooth scrolling on all links inside the navbar
  $("#myNavbar a").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    }  // End if
  });
});
</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/5a96694cd7591465c7081805/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();

  </script>
</html>
