<!DOCTYPE html>
<html lang="en">

  {{ template "dashboard-header.tmpl" .}}

    <body class="nav-fixed">
      {{ template "dashboard-notifcenter.tmpl" .}}      
      
      <div id="layoutSidenav">
          <!-- Sidebar -->
          {{ template "dashboard-sidebar.tmpl" .}}
          <div id="layoutSidenav_content">
                <main>
                    <div class="page-header page-header-light bg-white">
                        <div class="container-fluid">
                            <div class="page-header-content py-2">
                                <div class="page-header-title" style="font-size:1rem;">
                                    <ol class="breadcrumb mt-1 mb-0">
                                        <li class="breadcrumb-item"><a href="#" onclick="javascript:window.location='/dashboard/orders'" style="color:black;">Order</a></li>
                                        <li class="breadcrumb-item active">New</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="container-fluid mt-4">
                        <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
                            <div class="mr-4 mb-3 mb-sm-0">             
                                <button id="reload-button" class="btn btn-success btn-sm hide" onClick="javascript:window.location.reload()" type="button">Reload untuk membuat order baru</button>
                            </div>
                            <div id="success-alert" class="alert alert-success hide" role="alert"></div>
                            <div id="failed-alert" class="alert alert-danger hide" role="alert"></div>
                        </div>
                        
                        <div class="card mb-4">
                            <div class="card-header lead text-dark">ORDER INFO</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="airwaybill">Airwaybill</label>
                                            <input id="airwaybill" class="form-control" type="name" placeholder="Generate by system" disabled="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="company-id">Klien</label>
                                            <select id="company-id" class="form-control" type="text" placeholder="Nama Perusahaan Pengirim">
                                                <option> - </option>
                                                {{ range $index, $company := .Companies }}
                                                <option value="{{ $company.ID }}">{{ $company.CompanyName }}</option>
                                                {{ end }} 
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="delivery-type">Layanan</label>
                                            <select class="form-control" id="delivery-type">
                                                <option value="1">Same day</option>
                                                <option value="2">Regular</option>
                                                <option value="3">SuperSDS</option>        
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="deadline">Deadline</label>
                                            <input class="form-control" id="deadline" type="date" placeholder="Deadline" />
                                    </div>
                                    </div>
                                </div>

                                <section id="pickup">
                                    <div class="row mb-3 mt-3">
                                        <div class="col-6"> <h4 class="text-dark">PICK UP</h4></div>
                                        <div class="col-6">
                                            <button class="btn btn-green rounded-pill  btn-sm float-right" onclick="javascript:generatePickUpField()">
                                                + pickup point
                                            </button>
                                        </div>
                                    </div>

                                    <div id="pickup-field" class="mb-3">
                                        <!-- card items -->
                                        <div class="list-group-item  mb-4" style="background-color: #e3e7ee;">
                                            <div class="row">
                                                <!-- pickup point -->
                                                <div class="col-md-6">
                                                    <div class="form-row">
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="pickup-details-name">Nama</label>
                                                                <input class="form-control form-control-sm" id="pickup-details-name" type="name" placeholder="Toko/Gedung" value="" />
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="pickup-details-pic">PIC</label>
                                                                <input class="form-control form-control-sm" id="pickup-details-pic" type="name" placeholder="Yang dapat dihubungi" value="" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="pickup-details-phone">Telp</label>
                                                                <input class="form-control form-control-sm" id="pickup-details-phone" type="name" placeholder="Nomor Telepon" value="" />
                                                            </div>
                                                        </div>
                                                            </div>

                                                    <div class="form-row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="pickup-details-address">Alamat</label>
                                                                <input class="form-control form-control-sm" id="pickup-details-address" type="name" placeholder="Alamat RT/RW" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="pickup-details-address-kec">Kecamatan</label>
                                                                <input class="form-control form-control-sm" id="pickup-details-address-kec" placeholder="Nama Kecamatan" value="" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="pickup-details-address-kel">Kelurahan</label>
                                                                <input class="form-control form-control-sm" id="pickup-details-address-kel" placeholder="Nama Kelurahan" value="" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">    
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="pickup-details-address-city">Kota</label>
                                                                <input class="form-control form-control-sm" id="pickup-details-address-city" placeholder="Nama Kota" value="" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="pickup-details-address-prov">Provinsi</label>
                                                                <input class="form-control form-control-sm" id="pickup-details-address-prov" placeholder="Nama Provinsi" value="" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="pickup-details-address-zip">ZIP</label>
                                                                <input class="form-control form-control-sm" id="pickup-details-address-zip" type="number" placeholder="kode pos" min="0" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-12">                                
                                                            <div class="form-group">
                                                                <label for="pickup-details-notes">Detail lokasi/Catatan</label> 
                                                                <textarea class="form-control form-control-sm" id="pickup-details-notes" type="text" placeholder="Nama Perusahaan Pengirim" rows="3"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /pickup point -->

                                                <!-- item details -->
                                                <div class="col-md-6"> 
                                                    <div class="row mt-3 mb-3">
                                                        <div class="col-6"> 
                                                            <h6>Item(s)</h6>
                                                        </div>
                                                        <div class="col-6">
                                                            <button id="prefix-item" class="btn btn-green rounded-pill btn-sm float-right" onClick="javascript:generateItemField(this.id)">+ item</button>
                                                        </div>
                                                    </div>
                                                    <!-- list items -->
                                                    <ul class="list-group mb-3">
                                                        <!-- detail item -->
                                                        <li id="pickup-field-item" class="list-group-item d-flex justify-content-between lh-condensed">
                                                        <div>
                                                            <div class="form-row">
                                                                <div class="col-5">
                                                                    <div class="form-group">
                                                                        <label for="item-name">Nama</label>
                                                                        <input class="form-control form-control-sm" id="item-name" placeholder="Nama Produk" value="" />
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="col-3">
                                                                    <div class="form-group">
                                                                        <label for="item-quantity">Unit</label>
                                                                        <input id="item-quantity" class="form-control form-control-sm" placeholder="Ex: 1" type="number" />
                                                                </div>
                                                                </div>
                                                                <div class="col-4">
                                                                    <div class="form-group">
                                                                        <label for="item-unit">Satuan</label>
                                                                        <select class="form-control form-control-sm" id="item-unit"></select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                        <label for="item-notes">Deskripsi</label>
                                                                        <textarea class="form-control form-control-sm" id="item-notes" placeholder="Deskripsi barang, warna, jenis" rows="3" ></textarea> 
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        </li>
                                                        <!-- ./detail item -->
                                                    </ul>
                                                    <!-- ./list items -->
                                                </div>
                                                <!-- /.item details -->
                                            </div>
                                        </div>
                                        <!-- ./card items -->
                                        
                                    </div>
                                    <!-- /isi -->
                                    <div class="row mt-2  mb-2 mr-1" >
                                        <div class="col-12">
                                            <button class="btn btn-green rounded-pill my-1 btn-sm float-right" onclick="javascript:generatePickUpField()">+ pickup point</button>       
                                        </div>
                                    </div>
                                </section>

                                <!-- section penerima -->
                                <section id="receiver"> 
                                    <h4 class="mb-3 mt-3">DROP OFF</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="client-name">Nama</label>
                                                <input class="form-control" id="client-name" placeholder="Nama Penerima" value=""/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="client-phone">No telp</label>
                                                <input class="form-control" id="client-phone" placeholder="No Telepon Penerima" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="client-address">Alamat</label>
                                                <input class="form-control" id="client-address" placeholder="Alamat RT/RW" value="" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="client-address-kec">Kecamatan</label>
                                                <input class="form-control" id="client-address-kec" placeholder="Nama Kecamatan" value="" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="client-address-kel">Kelurahan</label>
                                                <input class="form-control" id="client-address-kel" placeholder="Nama Kelurahan" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="client-address-city">Kota</label>
                                                <input class="form-control" id="client-address-city" placeholder="Nama Kota" value="" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="client-address-prov">Provinsi</label>
                                                <input class="form-control" id="client-address-prov" placeholder="Nama Provinsi" value="" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="client-address-zip">Zip</label>
                                                <input class="form-control" id="client-address-zip" type="number" placeholder="kode pos" min="0" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="client-notes">Detail lokasi/Catatan</label>
                                                <textarea class="form-control" id="client-notes" type="text" placeholder="Nama Perusahaan Pengirim" rows="3"></textarea>
                                            </div>

                                        </div>
                                    </div>   
                                </section>                         
                            </div>
                            
                            <section>
                                <div class="row" style="margin-left: 20px; margin-bottom: 20px">
                                    <button id="create-button" class="btn btn-primary rounded-pill px-4" onClick="javascript:ProcessOrder()" type="button">Buat Order Baru</button>
                                </div>
                            </section>
                        </div>
                    </div>
                </main>
                <!-- Footer -->
                {{ template "dashboard-footer.tmpl" .}}
          </div>
      </div>
      
      <!-- Modal -->
      <div id="loading-pop-up" class="modal-loading">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
      </div>

    </body>
    {{ template "default-script-dashboard.tmpl" .}}

    <script>
        var totalgeneratedPickup = 1;
        var counterDetailPickUp = 1;

        var defaultFormatClientName             = "client-name";
        var defaultFormatClientAddress          = "client-address";
        var defaultFormatClientAddressKec       = "client-address-kec";
        var defaultFormatClientAddressKel       = "client-address-kel";
        var defaultFormatClientAddressCity      = "client-address-city";
        var defaultFormatClientAddressProv      = "client-address-prov";
        var defaultFormatClientAddressZip       = "client-address-zip";
        var defaultFormatClientPhone            = "client-phone";
        var defaultFormatClientNotes            = "client-notes";
        
        var defaultFormatAirwaybill       = "airwaybill";
        var defaultFormatDeliveryType     = "delivery-type";
        var defaultFormatCompanyID        = "company-id";
        var defaultFormatDeadline         = "deadline";

        var defaultFormatPickupFieldID = "pickup-field";
        var defaultFormatPrefixItemFieldID = "prefix-item"; 
        var defaultFormatPrefixItemTitleID = "prefix-item-title";
        var defaultFormatItemField = "pickup-field-item";

        var defaultFormatPickupDetailsPic = "pickup-details-pic";
        var defaultFormatPickupDetailsName = "pickup-details-name";
        var defaultFormatPickupDetailsreceiver = "pickup-details-receiver";
        var defaultFormatPickupDetailsPhone = "pickup-details-phone";
        var defaultFormatPickupDetailsNotes = "pickup-details-notes";
        
        // detail address 
        var defaultFormatPickupDetailsAddress = "pickup-details-address"
        var defaultFormatPickupDetailsAddressKec = "pickup-details-address-kec"
        var defaultFormatPickupDetailsAddressKel = "pickup-details-address-kel"
        var defaultFormatPickupDetailsAddressCity = "pickup-details-address-city"
        var defaultFormatPickupDetailsAddressProv = "pickup-details-address-prov"
        var defaultFormatPickupDetailsAddressZip = "pickup-details-address-zip"

        var defaultFormatItemName = "item-name"
        var defaultFormatItemQuantity = "item-quantity";
        var defaultFormatItemUnit = "item-unit";
        var defaultFormatItemNotes = "item-notes";

        // This variable help us to mapping Pickups with its prefix Item 
        var mappingPickupsToPrefixItem = {};
        // This variable help us to mapping Prefix Items and Items
        var mappingPrefixItemAndItems = {};

        /*
            all component will have ID's generate differently from variable totalgeneratedPickup

            parent pickup format 
            Main Parent - with one button can add field 
                          Pickup Field complete with its 
                          default Prefix Item And Item
                pickup-field-*
            Pickup detail is ID for gather all information about pickups. Number id is same with parent number
                pickup-details-*
            prefix item format - help one button on each field item to add new Item
                prefix-item-*
            prefix item title format have number same as prefix item format
                prefix-item-title-*
            child item format - needed to as parent for field input when read
                pickup-field-item-*

            read item value
            This value based on id on parent item (pickup-field-item)
                item-name-*
                item-quantity-*
                item-unit-*
                item-notes-*
        */

        var units = {}; 
        {{ range $index, $unit := .Units }}
        units[{{ $index }}] = {{ $unit }};
        {{ end }} 
            
        function init(){
            mappingPickupsToPrefixItem[defaultFormatPickupFieldID] = defaultFormatPrefixItemFieldID;
            mappingPrefixItemAndItems[defaultFormatPrefixItemFieldID] = [defaultFormatItemField];

            addSelect(defaultFormatItemUnit);
        }

        // this function using units variable as data feeds
        // and generate drop down on item data
        function addSelect(id) {
            for (var i in units){
                $("#"+id).append(new Option(units[i], i));
            }
        }

        function generatePickUpField(){
            counterDetailPickUp++;

            totalgeneratedPickup++;
            var newPickupFieldID = defaultFormatPickupFieldID + "-" + totalgeneratedPickup;
            
            /* Data Input PIC */
            var newPickupDetailPic = defaultFormatPickupDetailsPic + "-" + totalgeneratedPickup;
            var newPickupDetailName = defaultFormatPickupDetailsName + "-" + totalgeneratedPickup;
            var newPickupDetailreceiver = defaultFormatPickupDetailsreceiver + "-" + totalgeneratedPickup;
            var newPickupDetailPhone = defaultFormatPickupDetailsPhone + "-" + totalgeneratedPickup;
            var newPickupDetailNotes = defaultFormatPickupDetailsNotes + "-" + totalgeneratedPickup;

            /* Data Input PIC Destination Address*/
            var newPickupDetailsAddress = defaultFormatPickupDetailsAddress + "-" + totalgeneratedPickup;
            var newPickupDetailsAddressKec = defaultFormatPickupDetailsAddressKec + "-" + totalgeneratedPickup;
            var newPickupDetailsAddressKel = defaultFormatPickupDetailsAddressKel + "-" + totalgeneratedPickup;
            var newPickupDetailsAddressCity = defaultFormatPickupDetailsAddressCity + "-" + totalgeneratedPickup;
            var newPickupDetailsAddressProv = defaultFormatPickupDetailsAddressProv + "-" + totalgeneratedPickup;
            var newPickupDetailsAddressZip = defaultFormatPickupDetailsAddressZip + "-" + totalgeneratedPickup;

            totalgeneratedPickup++;
            var newPrefixItemFieldID = defaultFormatPrefixItemFieldID + "-" + totalgeneratedPickup;
            var newPrefixItemTitleID = defaultFormatPrefixItemTitleID + "-" + totalgeneratedPickup;

            totalgeneratedPickup++;
            var newItemField = defaultFormatItemField + "-" + totalgeneratedPickup;
            var newItemNameField = defaultFormatItemName + "-" + totalgeneratedPickup;
            var newItemQuantityField = defaultFormatItemQuantity + "-" + totalgeneratedPickup;
            var newItemUnitField = defaultFormatItemUnit + "-" + totalgeneratedPickup;
            var newItemNotesField = defaultFormatItemNotes + "-" + totalgeneratedPickup;

            /*
                Create New Mapping 
            */
            mappingPickupsToPrefixItem[newPickupFieldID] = newPrefixItemFieldID;
            mappingPrefixItemAndItems[newPrefixItemFieldID] = [newItemField];

            var pickUpField = `
            <div id="` + newPickupFieldID + `" class="mb-3">
                <!-- card items -->
                <div class="list-group-item  mb-4" style="background-color: #e3e7ee;">
                    <!-- tombol hapus -->
                    <div class="row ">
                        <div class="col-12">
                            <button class="btn  btn-outline-red btn-icon btn-xs float-right" type="button" onClick="javascript:deletePickUpField('`+ newPickupFieldID +`')">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /tombol hapus -->
                    <div class="row">
                        <!-- pickup point -->
                        <div class="col-md-6">
                            <div class="form-row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="` + newPickupDetailName + `">
                                            Nama
                                        </label>
                                        <input class="form-control form-control-sm" id="` + newPickupDetailName + `" type="name" placeholder="Toko/Gedung" value="" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="` + newPickupDetailPic + `">
                                            PIC
                                        </label>
                                        <input class="form-control form-control-sm" id="` + newPickupDetailPic + `" type="name" placeholder="Yang dapat dihubungi" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="` + newPickupDetailPhone + `">
                                            Telp
                                        </label>
                                        <input class="form-control form-control-sm" id="` + newPickupDetailPhone + `" type="name" placeholder="No Telepon" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="` + newPickupDetailsAddress + `">
                                                Alamat
                                            </label>
                                            <input class="form-control form-control-sm" id="` + newPickupDetailsAddress + `" type="name" placeholder="Alamat RT/RW" value="" />
                                        </div>
                                    </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="` + newPickupDetailsAddressKec + `">
                                            Kecamatan
                                        </label>
                                        <input class="form-control form-control-sm" id="` + newPickupDetailsAddressKec + `" type="name" placeholder="Nama Kecamatan" value="" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="` + newPickupDetailsAddressKel + `">
                                            Kelurahan
                                        </label>
                                        <input class="form-control form-control-sm" id="` + newPickupDetailsAddressKel + `" type="name" placeholder="Nama Kelurahan" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="` + newPickupDetailsAddressCity + `">
                                            Kota
                                        </label>
                                        <input class="form-control form-control-sm" id="` + newPickupDetailsAddressCity + `" type="name" placeholder="Nama Kota" value="" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="` + newPickupDetailsAddressProv + `">
                                            Provinsi
                                        </label>
                                        <input class="form-control form-control-sm" id="` + newPickupDetailsAddressProv + `" type="name" placeholder="Nama Provinsi" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="` + newPickupDetailsAddressZip + `">
                                            ZIP
                                        </label>
                                        <input class="form-control form-control-sm" id="` + newPickupDetailsAddressZip + `" type="number" placeholder="kode pos" min="0" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12">                                
                                    <div class="form-group">
                                        <label for="` + newPickupDetailNotes + `">
                                            Detail lokasi/Catatan
                                        </label>
                                        <textarea class="form-control form-control-sm" id="` + newPickupDetailNotes + `" type="text" placeholder="Nama Perusahaan Pengirim" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /pickup point -->
                        <!-- item details -->
                        <div class="col-md-6"> 
                            <div class="row mt-3 mb-3">
                                <div class="col-6"> <h6>Item(s)</h6></div>
                                <div class="col-6">
                                    <button id="` + newPrefixItemFieldID + `" class="btn btn-green rounded-pill btn-sm float-right" onClick="javascript:generateItemField(this.id)">
                                        + item
                                    </button>
                                </div>
                            </div>
                            <!-- list items -->
                            <ul class="list-group mb-3">
                                <!-- detail item -->
                                <li id="` + newItemField + `" class="list-group-item d-flex justify-content-between lh-condensed">
                                    <div>
                                        <div class="form-row">
                                            <div class="col-5">
                                                <div class="form-group">
                                                    <label for="` + newItemNameField + `">
                                                        Nama
                                                    </label>
                                                    <input id="` + newItemNameField + `" class="form-control form-control-sm" placeholder="Nama Produk" value="" />
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <div class="form-group">
                                                    <label for="` + newItemQuantityField +  `">
                                                        Unit
                                                    </label>
                                                    <input id="` + newItemQuantityField + `" class="form-control form-control-sm" type="number" placeholder="Ex: 1" type="number" />
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="` + newItemUnitField + `">
                                                        Satuan
                                                    </label>
                                                    <select id="` + newItemUnitField + `" class="form-control form-control-sm"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="` + newItemNotesField + `">
                                                        Deskripsi
                                                    </label>
                                                    <textarea id="` + newItemNotesField + `" class="form-control form-control-sm" placeholder="Deskripsi barang, warna, jenis" rows="3" ></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- ./detail item -->
                            </ul>
                            <!-- ./list items -->
                        </div>
                        <!-- /.item details -->
                    </div>
                </div>
                <!-- ./card items -->
            </div>`;
            
            // convert string to DOM
            var newPickUpField = $(pickUpField);

            // create new component after last compnent
            var biggestPickUpID = 0;
            for (var i in mappingPickupsToPrefixItem){

                if(i == newPickupFieldID){
                    continue;
                }

                var tempKey = i.replace(defaultFormatPickupFieldID, "");
                if(!($("#" + i).length) || tempKey == "" || tempKey == null){
                    continue;
                } else {
                    var index = parseInt(tempKey.replace("-", ""));

                    if(biggestPickUpID < index) {
                        biggestPickUpID = index;
                    }
                }
            }

            if(biggestPickUpID <= 1){
                $("#" + defaultFormatPickupFieldID).after(newPickUpField);
            } else {
                $("#" + defaultFormatPickupFieldID + "-" + biggestPickUpID).after(newPickUpField);
            }

            // add generate unit on data select
            addSelect(newItemUnitField);
        }

        function generateItemField(prefixID){
            totalgeneratedPickup = totalgeneratedPickup+1;
            var newItemFieldID = defaultFormatItemField + "-" + totalgeneratedPickup;
            var newItemNameField = defaultFormatItemName + "-" + totalgeneratedPickup;
            var newItemQuantityField = defaultFormatItemQuantity + "-" + totalgeneratedPickup;
            var newItemUnitField = defaultFormatItemUnit + "-" + totalgeneratedPickup;
            var newItemNotesField = defaultFormatItemNotes + "-" + totalgeneratedPickup;

            mappingPrefixItemAndItems[prefixID].push(newItemFieldID);

            var itemField = `
            <li id="` + newItemFieldID + `" class="list-group-item d-flex justify-content-between lh-condensed" style="margin-top:30px">
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-outline-red float-right btn-icon btn-xs" onClick="javascript:deletePickUpField('`+ newItemFieldID +`')" type="button">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <div class="col-12">
                            <div class="form-row">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="` + newItemNameField + `">
                                            Nama
                                        </label>
                                        <input id="` + newItemNameField + `" class="form-control form-control-sm" placeholder="Nama Produk" value="" />
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="` + newItemQuantityField +  `">
                                            Unit
                                        </label>
                                        <input id="` + newItemQuantityField + `" class="form-control form-control-sm" type="number" placeholder="Ex: 1" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="` + newItemUnitField + `">
                                            Satuan
                                        </label>
                                        <select id="` + newItemUnitField + `" class="form-control form-control-sm"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="` + newItemNotesField + `">
                                            Deskripsi
                                        </label>
                                        <textarea id="` + newItemNotesField + `" class="form-control form-control-sm" placeholder="Deskripsi barang, warna, jenis" rows="3" ></textarea>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </li>`;
            
            // convert string to DOM
            var newItemField = $(itemField);
             
            // create new component after last compnent
            var biggestItemID = 0;
            var listItem = mappingPrefixItemAndItems[prefixID];
            for (var i = 0; i < listItem.length; i++){
                var itemID = listItem[i];

                if(itemID == newItemFieldID){
                    continue;
                }

                var tempKey = itemID.replace(defaultFormatItemField, "");

                if(!($("#" + itemID).length) || tempKey=="" || tempKey==null){
                    continue;
                } else {
                    var index = parseInt(tempKey.replace("-", ""));

                    if(biggestItemID < index) {
                        biggestItemID = index;
                    }
                }
            }

            if(biggestItemID <= 1){
                $("#" + defaultFormatItemField).after(newItemField);
            } else {
                $("#" + defaultFormatItemField + "-" + biggestItemID).after(newItemField);
            }

            // generate select data on unit
            addSelect(newItemUnitField);
        }
        
        // delete dom which targetted
        function deletePickUpField(targetID){
            $("#" + targetID).remove();
        }

        // gathering all information and send it to server
        function ProcessOrder(){
            let mainPayload = {
                receiver: {
                     name: $("#" + defaultFormatClientName).val(),
                     address: $("#" + defaultFormatClientAddress).val(),
                     phone_number: $("#" + defaultFormatClientPhone).val(),
                     notes: $("#" + defaultFormatClientNotes).val(),
                     kecamatan: $("#" + defaultFormatClientAddressKec).val(),
                     kelurahan: $("#" + defaultFormatClientAddressKel).val(),
                     kota: $("#" + defaultFormatClientAddressCity).val(),
                     provinsi: $("#" + defaultFormatClientAddressProv).val(),
                     zip: parseInt($("#" + defaultFormatClientAddressZip).val())
                },
                airwaybill: $("#" + defaultFormatAirwaybill).val(),
                delivery_type: parseInt($("#" + defaultFormatDeliveryType).val()),
                company_id: parseInt($("#" + defaultFormatCompanyID).val()),
                deadline: $("#" + defaultFormatDeadline).val()
            };

            let payloadPickUp = [];
            for(var i in mappingPickupsToPrefixItem){
                var idPickUp = i.replace(defaultFormatPickupFieldID, "");                
                idPickUp = idPickUp.replace("-", "");

                // gathering and fetch pick up
                let pic, name, phone, notes;
                let address, kecamatan, kelurahan, city, prov, zip;
                if($("#"+i) == null){
                    continue;
                } 
                else if(idPickUp == null || idPickUp == ""){
                    pic = $("#" + defaultFormatPickupDetailsPic).val();
                    name = $("#" + defaultFormatPickupDetailsName).val();
                    phone = $("#" + defaultFormatPickupDetailsPhone).val();
                    notes = $("#" + defaultFormatPickupDetailsNotes).val();

                    // collect address data
                    address = $("#" + defaultFormatPickupDetailsAddress).val();

                    // append kecamatan data
                    kecamatan = $("#" + defaultFormatPickupDetailsAddressKec).val();

                    // append kelurahan daata 
                    kelurahan = $("#" + defaultFormatPickupDetailsAddressKel).val();
                    
                    // append city data
                    city = $("#" + defaultFormatPickupDetailsAddressCity).val();
                    
                    // append provincy data
                    prov = $("#" + defaultFormatPickupDetailsAddressProv).val();

                    // append zip data
                    zip = $("#" + defaultFormatPickupDetailsAddressZip).val();
                } else {
                    pic = $("#" + defaultFormatPickupDetailsPic + "-" + idPickUp).val();
                    name = $("#" + defaultFormatPickupDetailsName + "-" + idPickUp).val();
                    phone = $("#" + defaultFormatPickupDetailsPhone + "-" + idPickUp).val();
                    notes = $("#" + defaultFormatPickupDetailsNotes + "-" + idPickUp).val();

                    // collect address data
                    address = $("#" + defaultFormatPickupDetailsAddress + "-" + idPickUp).val();

                    // append kecamatan data
                    kecamatan = $("#" + defaultFormatPickupDetailsAddressKec + "-" + idPickUp).val();
                    
                    // append kelurahan daata 
                    kelurahan = $("#" + defaultFormatPickupDetailsAddressKel + "-" + idPickUp).val();

                    // append city data
                    city = $("#" + defaultFormatPickupDetailsAddressCity + "-" + idPickUp).val();
                    
                    // append provincy data
                    prov = $("#" + defaultFormatPickupDetailsAddressProv + "-" + idPickUp).val();

                    // append zip data
                    zip = $("#" + defaultFormatPickupDetailsAddressZip + "-" + idPickUp).val();
                }

                if(pic == null && name == null && address == null && phone == null && notes == null){
                    return
                }

                // gathering and fetch items
                var payloadItem = [];
                var prefixItem = mappingPickupsToPrefixItem[i];
                listItem = mappingPrefixItemAndItems[prefixItem];
                listItem.forEach(function(item, index){
                    var prefixID = item.replace(defaultFormatItemField, "");
                    prefixID = prefixID.replace("-", "");

                    var itemName, itemQuantity, itemUnit, itemNotes;
                    if($("#" + item) == null){
                        return;
                    } else if(prefixID == null || prefixID == ""){
                        itemName = $("#" + defaultFormatItemName).val();
                        itemQuantity = $("#" + defaultFormatItemQuantity).val();
                        itemUnit = $("#" + defaultFormatItemUnit).val();
                        itemNotes = $("#" + defaultFormatItemNotes).val();
                    } else {
                        itemName = $("#" + defaultFormatItemName + "-" + prefixID).val();
                        itemQuantity = $("#" + defaultFormatItemQuantity + "-" + prefixID).val();
                        itemUnit = $("#" + defaultFormatItemUnit + "-" + prefixID).val();
                        itemNotes = $("#" + defaultFormatItemNotes + "-" + prefixID).val();
                    }

                    if(itemName==null && itemQuantity == null && itemUnit == null && itemNotes == null){
                        return
                    }

                    payloadItem.push({
                        name: itemName,
                        quantity: parseFloat(itemQuantity),
                        unit: parseInt(itemUnit),
                        notes: itemNotes
                    });
                });
            
                payloadPickUp.push({
                    PIC: pic,
                    name: name,
                    address: address,
                    phone_number: phone,
                    notes: notes,
                    items: payloadItem,
                    kecamatan: kecamatan,
                    kelurahan: kelurahan,
                    kota: city,
                    provinsi: prov,
                    zip: parseInt(zip)
                })
            }

            mainPayload.pickups = payloadPickUp 
            
            var promise = createOrder(mainPayload);
            StartLoading();
            promise.done(function(response){
                response = response.data;
                if(response.response.error != null){
                    setError(true, response.response.error.detail);
                } else {
                    setError(false, "");
                    $("#success-alert").removeClass("hide");
                    
                    // show reload button
                    $("#reload-button").removeClass("hide");

                    // hide create button
                    $("#create-button").addClass("hide");

                    $("#success-alert").html("Sukses membuat order baru");

                    gotoTop();
                }
                FinishLoading();
            }).fail(function(response){
                FinishLoading();
                var status = response.status;
                if(status >= 500){
                    setError(true, "Ada kendala pada server, silahkan mencoba sekali lagi");                
                } else {
                    response = response.responseJSON.data;
                    setError(true, response.error);
                }
            });
        }

        function createOrder(payload){
            var url = base_url + '/admin/create-order';
            
            var promise = $.ajax({
                url: url,
                type: 'POST',
                data: JSON.stringify(payload),
                contentType: 'application/json',
                dataType: 'json'
            });

            return promise;
        }

        function setError(isShow, message = "") {
            if (isShow) {
                $("#failed-alert").removeClass("hide");
                $("#failed-alert").html(message);
                $("#success-alert").addClass("hide");

                gotoTop();
            } else {
                $("#failed-alert").addClass("hide");
                $("#failed-alert").html("");
            }
        }

        function gotoTop(){
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

        $(document).ready(function(){
            init();
        });
    </script>

</html>