<!DOCTYPE html>
<html lang="en">

  {{ template "dashboard-header.tmpl" .}}

    <body class="nav-fixed">
      {{ template "dashboard-notifcenter.tmpl" .}}   

      <div id="layoutSidenav">
          <!-- Sidebar -->
          {{ template "dashboard-sidebar.tmpl" .}}
          <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid mt-5">
                        <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
                            <div class="mr-4 mb-3 mb-sm-0">
                                <h1 class="mb-0">Tambah Akun Perusahaan</h1>
                                <button class="btn btn-light btn-sm" type="button" onclick="javascript:window.location='/dashboard/companies'"><i data-feather="chevron-left"></i>Kembali</button>                        
                            </div>
                            <div id="success-alert" class="alert alert-success hide" role="alert"></div>
                            <div id="failed-alert" class="alert alert-danger hide" role="alert"></div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <form action="">
                                    <form>
                                        <div class="form-group">
                                            <label for="company-name">Nama Perusahaan</label>
                                            <input class="form-control form-control-sm" id="company-name" placeholder="nama Perusahaan" />
                                        </div>
                                        <div class="form-group">
                                            <label for="address">Alamat Perusahaan</label>
                                            <input class="form-control form-control-sm" id="address" placeholder="alamat lengkap perusahaan" />
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Nomor Telepon</label>
                                            <input class="form-control form-control-sm" id="phone" type="phone" placeholder="nomor telepon perusahaan" />
                                        </div>
                                        <div class="form-group">
                                            <label for="role">Role</label>
                                            <select class="form-control form-control-sm" id="role">
                                                <option value="1">Admin</option>
                                                <option value="2">Client</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Image Perusahaan</label>
                                            <div class="row" style="margin-left: 50px">
                                                <div class="col-xs-6">
                                                    <div id="company-image-banner"></div>
                                                    <div id="upload_button-banner" class="upload_button-first">
                                                        <label>
                                                            <input id="company-image" type="file" onchange="javascript:uploadImage()" />
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <button class="btn btn-success btn-sm" onClick="javascript:ProcessRegister()" type="button">Tambah Perusahaan Baru</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- Footer -->
                {{ template "dashboard-footer.tmpl" .}}
          </div>
      </div>
      
      <!-- Modal -->
      <div id="loading-pop-up" class="modal-loading">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
      </div>

    </body>
    {{ template "default-script-dashboard.tmpl" .}}

    <script>
        function ProcessRegister(){
            setError(false, "");

            var companyName = $("#company-name").val();
            var address = $("#address").val();
            var phone = $("#phone").val();
            var role = $('#role :selected').val();
            var companyImage = $("#company-image")[0].files[0];

            StartLoading();
            var promise = Register(companyName,address,phone,role,companyImage);
            promise.done(function(response){
                response = response.data;

                if(response.error!=null){
                    setError(true, response.error.detail);
                } else {
                    setError(false, "");
                    $("#success-alert").removeClass("hide");
                    $("#success-alert").html("Sukses membuat akun baru");

                    // set default value
                    $("#company-name").val("");
                    $("#address").val("");
                    $("#phone").val("");
                    $('#role :selected').val(1);
                    $("#company-image").val("");
                    $("#company-image-banner").empty();
                }
                gotoTop();
                FinishLoading();
            }).fail(function(response){
                FinishLoading();
                var status = response.status;
                if(status >= 500){
                    setError(true, "Ada kendala pada server, silahkan mencoba sekali lagi");                
                } else {
                    setError(true, response.responseJSON.data);
                }
            });
        }
    
        function Register(companyName, address, phone, role, companyImage){
            var url = base_url + '/dashboard/company/register';
            
            var fd = new FormData();
            fd.append('name', companyName);
            fd.append('address', address);
            fd.append('phone', phone);
            fd.append('role', role);
            fd.append('company_image', companyImage);
            
            var promise = $.ajax({
                url: url,
                type: 'POST',
                data: fd,
                processData: false,
                contentType: false,
                cache : false,
                xhrFields: {
                    withCredentials: true
                }
            });

            return promise;
        }

        function setError(isShow, message = "") {
            if (isShow) {
                $("#failed-alert").removeClass("hide");
                $("#failed-alert").html(message);
                $("#success-alert").addClass("hide");

                gotoTop();
            } else {
                $("#failed-alert").addClass("hide");
                $("#failed-alert").html("");
            }
        }
    
        function uploadImage() {
            /* 200KB */
            var imageSizeValidation = 200000;
            var minWidth = 500;
            var minHeight = 150;

            var companyImage = $("#company-image")[0].files[0];
            var $mainContainer = $("#company-image-banner");
            
            if(companyImage.size > imageSizeValidation){
                $("#company-image").val("");
                $mainContainer.empty();
                setError(true, "Maksimal ukuran gambar adalah 200 KB");
                return
            }

            var reader = new FileReader();
            reader.onload = function(e) {
                var image = e.target.result;
                var imageObj = new Image();

                imageObj.src = e.target.result;
                imageObj.onload = function() {
                    var height = this.height;
                    var width = this.width;
                    if(width <= minWidth && height <= minHeight) {
                        $("#company-image").val("");
                        $mainContainer.empty();
                        setError(true, "Dimensi cover harus kurang dari width: "+minWidth+". height: "+minHeight);
                        return;
                    }

                    $mainContainer.empty();
                    var imgs = $('<img class="image-cover' + '" src=' + image + " />");
                    $mainContainer.append(imgs);
                };
            };

            reader.readAsDataURL(companyImage);
        }

        function gotoTop(){
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

</html>