<!DOCTYPE html>
<html lang="en">

  {{ template "dashboard-header.tmpl" .}}

    <body class="nav-fixed">
      {{ template "dashboard-notifcenter.tmpl" .}}   

      <div id="layoutSidenav">
          <!-- Sidebar -->
          {{ template "dashboard-sidebar.tmpl" .}}
          <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid mt-5">
                        <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
                            <div class="mr-4 mb-3 mb-sm-0">
                                <h1 class="mb-0">Tambah Akun Perusahaan</h1>
                                <button class="btn btn-light btn-sm" type="button" onclick="javascript:window.location='/dashboard/companies'"><i data-feather="chevron-left"></i>Back</button>                        
                            </div>
                            <div id="success-alert" class="alert alert-success hide" role="alert"></div>
                            <div id="failed-alert" class="alert alert-danger hide" role="alert"></div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <form action="">
                                    <form>
                                        <div class="form-group">
                                            <label for="company-name">Nama Perusahaan</label>
                                            <input class="form-control form-control-sm" id="company-name" placeholder="nama Perusahaan" />
                                        </div>
                                        <div class="form-group">
                                            <label for="address">Alamat Perusahaan</label>
                                            <input class="form-control form-control-sm" id="address" placeholder="alamat lengkap perusahaan" />
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Nomor Telepon</label>
                                            <input class="form-control form-control-sm" id="phone" type="phone" placeholder="nomor telepon perusahaan" />
                                        </div>
                                        <div class="form-group">
                                            <label for="role">Role</label>
                                            <select class="form-control form-control-sm" id="role">
                                                <option value="1">Admin</option>
                                                <option value="2">Client</option>
                                            </select>
                                        </div>
                                        
                                        <button class="btn btn-success btn-sm" onClick="javascript:ProcessRegister()" type="button">Tambah Perusahaan Baru</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- Footer -->
                {{ template "dashboard-footer.tmpl" .}}
          </div>
      </div>
      
      <!-- Modal -->
      <div id="loading-pop-up" class="modal-loading">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
      </div>

    </body>
    {{ template "default-script-dashboard.tmpl" .}}

    <script>
        function ProcessRegister(){
            setError(false, "");

            var companyName = $("#company-name").val();
            var address = $("#address").val();
            var phone = $("#phone").val();
            var role = $('#role :selected').val();

            StartLoading();
            var promise = Register(companyName,address,phone,role);
            promise.done(function(response){
                response = response.data;

                if(response.error!=null){
                    setError(true, response.error.massage);
                } else {
                    setError(false, "");
                    $("#success-alert").removeClass("hide");
                    $("#success-alert").html("Sukses membuat akun baru");

                    // set default value
                    $("#company-name").val("");
                    $("#address").val("");
                    $("#phone").val("");
                    $('#role :selected').val(1);
                }
                FinishLoading();
            }).fail(function(response){
                FinishLoading();
                setError(true, "Ada kendala pada server, silahkan mencoba sekali lagi");                
            });
        }
    
        function Register(companyName, address, phone, role){
            var url = base_url + '/dashboard/company/register';
            var data = {
                name: companyName,
                address: address,
                phone: phone,
                role: role
            };
            
            var promise = $.ajax({
                url: url,
                type: 'POST',
                data: data,
                xhrFields: {
                    withCredentials: true
                }
            });

            return promise;
        }

        function setError(isShow, message = "") {
            if (isShow) {
                $("#failed-alert").removeClass("hide");
                $("#failed-alert").html(message);
            } else {
                $("#failed-alert").addClass("hide");
                $("#failed-alert").html("");
            }
        }
    </script>

</html>