<!DOCTYPE html>
<html lang="en">

  {{ template "dashboard-header.tmpl" .}}

  <body id="page-top" data-spy="scroll" data-target=".navbar" data-offset="1">
    {{ template "dashboard-nav.tmpl" .}}

    <div id="wrapper">

      <!-- Sidebar -->
      {{ template "dashboard-sidebar.tmpl" .}}

        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header text-center">
                    <h4 id="company-name">Tokopedia</h4>
                    <img id="company-img" src="/img/loading.jpg" style="max-height:13rem; min-height:10rem; max-width:80%">
                </div>
                <div class="card-body">
                    <div id="company-create-time" class="col-md-12 text-center"></div>
                    <div id="company-status" class="col-md-12 text-center"></div>
                </div>
            </div>
        </div>

    </div> <!-- /#wrapper -->
    
    {{ template "dashboard-footer.tmpl" .}}

    <script src="/js/service/company.js"></script>
    {{ template "default-script-dashboard.tmpl" .}}
    <script>
        $(document).ready(function(){
            loadCompanyDetail();
        });
    </script>
  </body>
</html>