<!DOCTYPE html>
<html lang="en">

  {{ template "dashboard-header.tmpl" .}}

  <body id="page-top" data-spy="scroll" data-target=".navbar" data-offset="1">
    {{ template "dashboard-nav.tmpl" .}}

    <div id="wrapper">

      <!-- Sidebar -->
      {{ template "dashboard-sidebar.tmpl" .}}

      <div id="content-wrapper">
        <div class="container-fluid">
          <h4>Daftarkan Anggota Perusahaan</h4>

        <div class="card mb-3 mt-5">
          <div class="card-body">

          <div class="row" style="margin-bottom: 5%">
            <div class="row" style="margin: 0 10%;"> <!-- row -->
              <div class="col-lg-12 form-group">
                  <label for="fullname">Nama Lengkap</label>
                  <input class="form-control" id="fullname">
              </div>
              <div class="col-lg-12 form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email">
              </div>
              <div class="col-lg-12 form-group">
                  <label for="password">Password</label>
                  <input class="form-control" type="password" id="password">
              </div>
              <div class="col-lg-12 form-group">
                  <label for="password-ver">Verifikasi Password</label>
                  <input class="form-control" type="password" id="password-ver">
              </div>
              <div class="col-lg-12" style="margin-top: 2%;">
                  <div class="row">
                      <div class="col-lg-3"></div>
                      <a class="col-lg-6 btn btn-home" onClick="javascript:ProcessRegister()">DAFTAR</a>
                      <div class="col-lg-3"></div>
                  </div>
              </div>
            </div> <!-- end of row -->  

          </div> <!-- end of card-body -->
        </div> <!-- end of card -->

        </div> <!-- /.container-fluid -->
      </div> <!-- /.content-wrapper -->
    </div> <!-- /#wrapper -->
    
    {{ template "dashboard-footer.tmpl" .}}

    {{ template "default-script.tmpl" .}}
  </body>
</html>