<!-- Footer -->
<footer class="footer mt-auto footer-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 small">Copyright &copy; CGX 2020</div>
        </div>
    </div>
</footer>

<!-- Modal -->
<div id="loading-pop-up" class="modal-loading">
    <div class="lds-facebook"><div></div><div></div><div></div></div>
</div>