<li class="nav-item dropdown no-caret mr-3 dropdown-user">
  <span>{{ .UserDetail.Fullname }}</span>
  <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ if eq .UserDetail.ImageProfile "" }}
    <div class="nav-link-icon"><i data-feather="user"></i></div>
    {{ end }}

    {{ if  ne .UserDetail.ImageProfile "" }}
    <img class="img-fluid" src="{{ .UserDetail.ImageProfile }}"/>
    {{ end }}
  </a>
  <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
      <h6 class="dropdown-header d-flex align-items-center">
          <img class="dropdown-user-img" src="{{ .UserDetail.ImageProfile }}" />
          <div class="dropdown-user-details">
              <div class="dropdown-user-details-name">{{ .UserDetail.Fullname }}</div>
              <div class="dropdown-user-details-email">{{ .UserDetail.Email }}</div>
          </div>
      </h6>
      <a class="dropdown-item" href="/dashboard/config">
        <div class="dropdown-item-icon">
          <i data-feather="settings"></i>
        </div>
        Pengaturan
      </a>
      <a style="cursor: pointer;" class="dropdown-item" onClick="javascript:ProcessLogout()">
        <div class="dropdown-item-icon">
          <i data-feather="log-out"></i>
        </div>
        Logout
      </a>
  </div>
</li>