<div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">
                <div class="sidenav-menu-heading">Dashboard</div>
                <a class="nav-link" href="/dashboard">
                    <div class="nav-link-icon"><i data-feather="home"></i></div>
                    Dashboard</a>
                <div class="sidenav-menu-heading">PENGATURAN</div>
                
                <a class="nav-link" href="/dashboard/users">
                    <div class="nav-link-icon"><i data-feather="user"></i></div>
                    Pengguna
                </a>
                
                <a class="nav-link" href="/dashboard/companies">
                    <div class="nav-link-icon"><i data-feather="users"></i></div>
                    Perusahaan
                </a>

                <div class="sidenav-menu-heading">ORDER</div>
                <li>
                    <a href="#order-sub-menu" 
                        data-toggle="collapse" 
                        aria-expanded="false" 
                        class="dropdown-toggle nav-link">
                        <div class="nav-link-icon"><i data-feather="send"></i></div>
                        Orders
                    </a>
                    <ul class="collapse list-unstyled" id="order-sub-menu">
                        <li>
                            <a class="nav-link" href="/dashboard/orders">
                                Daftar Order
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="/dashboard/order/create-order">
                                Buat Order
                            </a>
                        </li>
                    </ul>
                </li>

                {{ if eq .UserDetail.Company.Role -999 }}
                <div class="sidenav-menu-heading">PENGATURAN ADMIN</div>
                <li>
                    <a href="#module-sub-menu" 
                        data-toggle="collapse" 
                        aria-expanded="false" 
                        class="dropdown-toggle nav-link">
                        <div class="nav-link-icon"><i data-feather="tag"></i></div>
                        Feature
                    </a>
                    <ul class="collapse list-unstyled" id="module-sub-menu">
                        <li>
                            <a class="nav-link" href="/dashboard/modules">
                                Module Feature
                            </a>
                            <a class="nav-link" href="/dashboard/features">
                                Registered Feature
                            </a>
                        </li>
                    </ul>
                </li>
                {{ end }}
            </div>
        </div>
        <div class="sidenav-footer">
            <div class="sidenav-footer-content">
                <div class="sidenav-footer-subtitle">Logged in as:</div>
                <div class="sidenav-footer-title">{{ .UserDetail.Fullname }}</div>
            </div>
        </div>
    </nav>
</div>