<!DOCTYPE html>
<html lang="en">

  {{ template "dashboard-header.tmpl" .}}

    <body class="nav-fixed">
      {{ template "dashboard-notifcenter.tmpl" .}}   

      <div id="layoutSidenav">
          <!-- Sidebar -->
          {{ template "dashboard-sidebar.tmpl" .}}
          <div id="layoutSidenav_content">
                <main>
                    <div class="page-header">
                        <div class="container-fluid">
                            <div class="page-header-content py-2">
                                <div id="success-alert" class="alert alert-success hide" role="alert"></div>
                                <div id="failed-alert" class="alert alert-danger hide" role="alert"></div>
                                <div class="page-header-title" style="font-size:1rem;"> 
                                    <ol class="breadcrumb mt-1 mb-0">
                                        <li class="breadcrumb-item">
                                            <a href="#" style="color:black;" onclick="javascript:window.location='/dashboard/orders'">Order</a>
                                        </li>
                                        <li class="breadcrumb-item active">#{{ .order.ID }}</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid mt-4" style="margin-top: 4.5rem !important;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="sizing">
                                        <div class="card mb-4 mt-4">
                                            <div class="card-header text-dark">
                                                <div class="col-6">
                                                    Order #{{ .order.ID }}
                                                    <span class="badge {{ index .BadgeOrder .order.Status }} text-wrap ml-2">
                                                        {{ .order.StatusName }}
                                                    </span>
                                                </div>
                                                <div class="col-6">
                                                    <div class="float-right">
                                                        {{ if eq .order.Status 0 }}
                                                        <button class="btn btn-success btn-sm" type="button" data-toggle="modal" data-target="#konfirmasi">Approved</button> 
                                                        {{ end }}

                                                        {{ if eq .order.Status 4 }}
                                                        <button class="btn btn-success btn-sm" type="button" onclick="javascript:showModalDeliverOrder()">Deliver</button>
                                                        <button class="btn btn-success btn-sm" type="button" data-toggle="modal" data-target="#transit-on-cgx">Transit</button>
                                                        {{ end }}

                                                        {{ if eq .order.Status 5 8 }}
                                                        <button class="btn btn-success btn-sm" type="button" onclick="javascript:showModalDeliverOrder()">Deliver</button>
                                                        {{ end }}

                                                        {{ if eq .order.Status 6 }}
                                                        <button class="btn btn-success btn-sm" type="button" data-toggle="modal" data-target="#modal-finish-order">Finish</button>
                                                        {{ end }}

                                                        {{ if eq .order.Status 0 2 3 4 5 6 8 9 10 }}
                                                        <button class="btn btn-red btn-sm" type="button" data-toggle="modal" data-target="#reject-order">Cancel</button>
                                                        {{ end }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="position-relative">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col position-relative ">
                                                           <div class="row mb-3">
                                                                <div class="col-4 info" >
                                                                   <p >
                                                                    Airway bill
                                                                   </p >
                                                                   <p style="color:black;" class="font-weight-bold" >
                                                                       <h1>
                                                                            {{ .order.AWB }}
                                                                       </h1>
                                                                   </p>
                                                                </div>
                                                                <div class="col-4 info" >
                                                                   <p >
                                                                    Jenis Pengiriman
                                                                   </p >
                                                                   <p style="color:black;" class="font-weight-bold" >
                                                                       <h1>
                                                                            {{ .order.DeliveryName }}
                                                                       </h1>
                                                                   </p>
                                                                </div>
                                                                <div class="col-4 info"> 
                                                                    <p >
                                                                        Klien
                                                                       </p>
                                                                       <p style="font-weight: 500;color: black;">
                                                                            {{ .order.CompanyName }}
                                                                       </p>
                                                                </div>
                                                           </div>
                                                           <div class="row mb-3">
                                                                <div class="col-4 info"> 
                                                                    <p>
                                                                        Order Created
                                                                    </p>
                                                                    <p style="font-weight: 500;color: black;">
                                                                            {{ .order.CreateTimeStr }}
                                                                    </p>
                                                                </div>
                                                                <div class="col-4 info"> 
                                                                    <p>
                                                                        Deadline Pickup
                                                                    </p>
                                                                    <p style="font-weight: 500;color: black;">
                                                                        {{ .order.PickUpDeadlineStr }}
                                                                    </p>
                                                                </div>
                                                           </div>
                                                           <div class="row mb-3">
                                                            <div class="col-4 info">
                                                                <p >
                                                                    Nama Pelanggan
                                                                    </p >
                                                                    <p style="color:black;" class="font-weight-bold" >
                                                                        {{ .order.ReceiverName }}
                                                                    </p>
                                                                    <p style="color:black;">
                                                                        {{ .order.ReceiverPhoneNumber }}
                                                                    </p>
                                                             </div>
                                                             <div class="col-4 info"> 
                                                                <p>
                                                                    Nama Penerima
                                                                   </p>
                                                                   <p style="font-weight: 500;color: black;">
                                                                    {{ if eq .order.Status 7 }}
                                                                        {{ .order.ActualReceiverName }}
                                                                    {{ end }}
                                                                   </p>
                                                              </div>
                                                           </div>
                                                           <div class="row mb-3">
                                                                <div class="col-12 info" >
                                                                   <p >
                                                                   Alamat
                                                                   </p >
                                                                   <p style="color:black;" class="font-weight-bold" >
                                                                       {{ .order.ReceiverAddrDisplay }}
                                                                       <p style="color:black;">
                                                                           {{ .order.ReceiverNotes }}
                                                                       </p>
                                                                   </p>
                                                                </div>
                                                           </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Pickup Field Generated from here -->
                                            <div class="card-header" style="color:black;">
                                                <div class="col-6">Pengambilan</div>
                                                {{ if eq .order.Status 2 }} 
                                                <div class="col-6 ">
                                                    <div class="dropdown float-right">
                                                        <button class="btn btn-green btn-sm dropdown-toggle" id="dispatch-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            Dispatch
                                                        </button>
                                                        <div class="dropdown-menu animated--fade-in" aria-labelledby="dispatch-menu">
                                                            <a class="dropdown-item" data-toggle="modal" data-target="#dispatch-fulfilment-center" style="cursor: pointer;">Fullfilment Center</a>
                                                            <a class="dropdown-item" data-toggle="modal" data-target="#dispatch-pickup" style="cursor: pointer;">Driver</a>
                                                        </div>
                                                    </div>      
                                                </div>
                                                {{ end }}
                                            </div>
                                            {{ $orderDetail := .order }}
                                            {{ $badgePickup := .BadgePickup }}
                                            {{ range $indexPickup, $pickup := .order.Pickups }}
                                            <div class="card-body">
                                               <div class= "col-lg-12 p-4 mb-4" style="background-color:#e9edf3;">
                                                    <div class="position-relative">
                                                        <div class="row" style="margin-bottom: 25px;">
                                                            <div class="col-6">
                                                                <span class="badge {{ index $badgePickup $pickup.Status }} text-wrap ml-2">
                                                                    {{ $pickup.StatusName }}
                                                                </span>
                                                            </div>

                                                            {{ if eq $orderDetail.Status 3 }}
                                                            {{ if ne $pickup.Status 3 }}
                                                            <div class="col-6 ">
                                                                <div class="dropdown float-right">
                                                                    <button class="btn btn-green btn-sm dropdown-toggle" id="pickup-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                        {{ if eq $pickup.Status 0 }}
                                                                        Assign to driver
                                                                        {{ end }}
                                                                        {{ if eq $pickup.Status 1 2 }}
                                                                        Update
                                                                        {{ end }}
                                                                    </button>
                                                                    <div class="dropdown-menu animated--fade-in" aria-labelledby="pickup-menu">
                                                                        <a class="dropdown-item" style="cursor: pointer;" onclick="javascript:showModalPickUp({{ $orderDetail.ID }}, {{ $pickup.ID }})">
                                                                            {{ if eq $pickup.Status 0 2 }}
                                                                            Input Driver's Data
                                                                            {{ end }}
                                                                            {{ if eq $pickup.Status 1 }}
                                                                            Change Driver
                                                                            {{ end }}
                                                                        </a>
                                                                        {{ if ne $pickup.Status 2 }}
                                                                        <a class="dropdown-item" style="cursor: pointer;" onclick="javascript:showModalRejectPickUp({{ $pickup.ID }}, {{ $pickup.Name }}, {{ $pickup.Address }})">Reject</a>
                                                                        {{ end }}
                                                                        {{ if eq $pickup.Status 1 }}
                                                                        <a class="dropdown-item" style="cursor: pointer;" onclick="javascript:showModalFinishPickUp({{ $pickup.ID }})">Finish</a>
                                                                        {{ end }}
                                                                    </div>
                                                                </div>      
                                                            </div>
                                                            {{ end }}
                                                            {{ end }}
                                                        </div>

                                                        <div class="row align-items-center justify-content-between">
                                                            <div class="col position-relative ">
                                                            <div class="row mb-3">
                                                                <div class="col-6 info">
                                                                    <p >
                                                                        PIC Pengirim
                                                                        </p >
                                                                        <p style="color:black;" class="font-weight-bold" >
                                                                            {{ $pickup.PIC }}
                                                                        </p>
                                                                        <p style="color:black;">
                                                                            {{ $pickup.PhoneNumber }}
                                                                        </p>
                                                                </div>
                                                                <div class="col-6 info">
                                                                    <p >
                                                                        Nama Driver
                                                                        </p >
                                                                        <p style="color:black;" class="font-weight-bold" >
                                                                            {{ $pickup.DriverName }}
                                                                        </p>
                                                                        <p style="color:black;">
                                                                            {{ $pickup.DriverPhone }}
                                                                        </p>
                                                                </div>
                                                                <div class="col-12 info" >
                                                                    <p >
                                                                    Alamat
                                                                    </p >
                                                                    <p style="color:black;" class="font-weight-bold" >
                                                                        {{ $pickup.FullAddress }}
                                                                        <p style="color:black;">
                                                                            {{ $pickup.Notes }}
                                                                        </p>
                                                                    </p>
                                                                </div>
                                                                <div class="datatable table-responsive mt-4">
                                                                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Nama produk</th>
                                                                                <th>Deskripsi produk</th>
                                                                                <th>Jumlah</th>
                                                                                <!-- <th>Aksi</th> -->
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {{ range $indexItem, $item := $pickup.Items }}
                                                                            <tr>
                                                                                <td>
                                                                                    {{ $item.Name }}
                                                                                </td>
                                                                                <td> 
                                                                                    {{ $item.Notes }}
                                                                                </td>
                                                                                <td>
                                                                                    {{ $item.Quantity }} {{ $item.UnitName }}
                                                                                </td>
                                                                                <!-- <td>
                                                                                    <button class="btn btn-datatable btn-icon btn-transparent-dark"><i data-feather="trash-2"></i></button>
                                                                                </td> -->
                                                                            </tr>
                                                                            {{ end }}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                            {{ end }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </main>
                <!-- Footer -->
                {{ template "dashboard-footer.tmpl" .}}
          </div>
      </div>
      
      <!-- Modal -->
      <div id="loading-pop-up" class="modal-loading">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
      </div>
      <!-- modal konfirmasi -->
      <div class="modal fade" id="konfirmasi" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Konfirmasi Order</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6>
                            Konfirmasi Approving Order
                        </h6>
                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-red btn-sm" type="button" data-dismiss="modal">Close</button>
                        <button class="btn btn-success btn-sm" type="button" onclick="javascript:handleApproveOrder()">Submit</button>
                    </div>
                </div>
            </div>
      </div>

      <!-- modal konfirmasi reject order -->
      <div class="modal fade" id="reject-order" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Konfirmasi Pembatalan Order</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>
                        Apakah anda yakin untuk melakukan pembatalan order ?
                    </h6>
                    <textarea class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-red btn-sm" type="button" data-dismiss="modal">Tidak</button>
                    <button class="btn btn-success btn-sm" type="button" onclick="javascript:handleRejectOrder()">Ya, Batalkan Order !</button>
                </div>
            </div>
        </div>
      </div>

      <!-- modal konfirmasi dispatch by pickup driver -->
      <div class="modal fade" id="dispatch-pickup" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="dispatch-pickup-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dispatch-pickup-label">Confirmation Dispatch To Driver</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    Apakah anda yakin untuk melakukan dispatch order ke <span style="font-weight: bold;">Driver</span> ?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-red btn-sm" type="button" data-dismiss="modal">Tidak</button>
                    <a class="btn btn-success btn-sm" onclick="javascript:handleDispatchOrder('DISPATCH_TO_FULFILMENT_DRIVER')" type="button" style="text-decoration: none; color: black;">Dispatch To Driver</a>
                </div>
            </div>
        </div>
    </div>

    <!-- modal konfirmasi dispatch by to fulfilment center -->
    <div class="modal fade" id="dispatch-fulfilment-center" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="dispatch-fulfilment-center" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation Dispatch To Fulfilment Center</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    Apakah anda yakin untuk melakukan dispatch order ke <span style="font-weight: bold;">Fulfilment Center</span> ?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-red btn-sm" type="button" data-dismiss="modal">Tidak</button>
                    <a class="btn btn-success btn-sm" type="button" onclick="javascript:handleDispatchOrder('DISPATCH_TO_FULFILMENT_CENTER')" style="text-decoration: none; color: black;">
                        Dispatch To Fulfilment Center
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- modal konfirmasi Pickup By Driver -->
    <div class="modal fade" id="modal-pickup-driver" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-pickup-driver-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-pickup-driver-label">Assign Driver</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="pickup-driver-name">Driver name</label>
                        <input class="form-control" id="pickup-driver-name" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="pickup-driver-phone">Driver phone</label>
                        <input class="form-control" id="pickup-driver-phone" type="text" />
                    </div>
                    <input class="hide" id="pickup-pickup-id" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-red btn-sm" type="button" data-dismiss="modal">Close</button>
                    <a class="btn btn-success btn-sm" type="button" onclick="javascript:handlePickUpOrder()" style="text-decoration: none; color: black;">
                        Assign To Driver!
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- modal konfirmasi reject pick up -->
    <div class="modal fade" id="reject-pick-up" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="reject-pick-up-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reject-pick-up-label"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="reject-pick-up-body"></div>
                <input class="hide" id="reject-pick-up-id" />
                
                <div class="modal-footer">
                    <button class="btn btn-red btn-sm" type="button" data-dismiss="modal">Tidak</button>
                    <button class="btn btn-success btn-sm" type="button" onclick="javascript:handleRejectPickUp()">Ya, Batalkan Pick Up !</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal konfirmasi finish pick up -->
    <div class="modal fade" id="finish-pick-up" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="finish-pick-up-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="finish-pick-up-label">Konfirmasi Penerimaan Barang</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                <div class="datatable table-responsive mt-4">
                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nama produk</th>
                                <th>Deskripsi produk</th>
                                <th>Jumlah</th>
                            </tr>
                        </thead>
                        <tbody id="finish-pick-up-body"></tbody>
                    </table>
                </div>
              </div>
              <input class="hide" id="finish-pickup-id" />
              
              <div class="modal-footer">
                  <button class="btn btn-red btn-sm" type="button" data-dismiss="modal">Tidak</button>
                  <button class="btn btn-success btn-sm" type="button" onclick="javascript:handleFinishPickUp()">Pick Up telah Selesai !</button>
              </div>
          </div>
      </div>
    </div>

    <!-- modal konfirmasi delivery order -->
    <div class="modal fade" id="delivery-order" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="delivery-order-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="delivery-order-label">Konfirmasi Penerimaan Barang</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                    <label for="delivery-driver-name">Driver name</label>
                    <input class="form-control" id="delivery-driver-name" type="text" />
                </div>
                <div class="form-group">
                    <label for="delivery-driver-phone">Driver phone</label>
                    <input class="form-control" id="delivery-driver-phone" type="text" />
                </div>
                <div class="datatable table-responsive mt-4">
                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nama produk</th>
                                <th>Deskripsi produk</th>
                                <th>Jumlah</th>
                            </tr>
                        </thead>
                        <tbody id="delivery-order-body"></tbody>
                    </table>
                </div>
              </div>
              <input class="hide" id="finish-pickup-id" />
              
              <div class="modal-footer">
                  <button class="btn btn-red btn-sm" type="button" data-dismiss="modal">Tidak</button>
                  <button class="btn btn-success btn-sm" type="button" onclick="javascript:handleDeliverOrder()">Deliver The Item !</button>
              </div>
          </div>
      </div>
    </div>

    <!-- modal konfirmasi dispatch by pickup driver -->
    <div class="modal fade" id="transit-on-cgx" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="transit-on-cgx-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="transit-on-cgx-label">Confirmation Transit Process Order To CGX</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    Tempatkan order ini ke <span style="font-weight: bold;">Transit</span> ?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-red btn-sm" type="button" data-dismiss="modal">Tidak</button>
                    <a class="btn btn-success btn-sm" onclick="javascript:handleTransitOrder()" type="button" style="text-decoration: none; color: black;">Ya, Transitkan ke CGX</a>
                </div>
            </div>
        </div>
    </div>

    <!-- modal konfirmasi Pickup By Driver -->
    <div class="modal fade" id="modal-finish-order" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-finish-order-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="receiver-name-label">Konfirmasi Order Selesai</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="receiver-name">Nama Penerima</label>
                        <input class="form-control" id="receiver-name" type="text" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-red btn-sm" type="button" data-dismiss="modal">Close</button>
                    <a class="btn btn-success btn-sm" type="button" onclick="javascript:handleFinishOrder()" style="text-decoration: none; color: black;">
                        Selesaikan Order
                    </a>
                </div>
            </div>
        </div>
    </div>

    </body>
    {{ template "default-script-dashboard.tmpl" .}}

    <script>
         function togglePickupField(comp){
            $(comp).css("display", "none");
        }

        function handleApproveOrder(){
            $('#konfirmasi').modal("toggle");   

            var url = new URL(window.location.href);
            var orderID = url.searchParams.get("id");


            var url = product_url + '/order/internal/v1/update/' + orderID + '/approved';
            var payload = {};

            handleChangeStatus(url, JSON.stringify(payload));
        }

        function handleRejectOrder(){
            $('#reject-order').modal("toggle");   
            
            var url = new URL(window.location.href);
            var orderID = url.searchParams.get("id");
            
            var url = product_url + '/order/internal/v1/update/' + orderID + '/reject';
            var payload = {};

            handleChangeStatus(url, JSON.stringify(payload));

            return
        }

        function handleDispatchOrder(action){
            var url = new URL(window.location.href);
            var orderID = url.searchParams.get("id");

            var url;
            var payload = {};
            if(action == "DISPATCH_TO_FULFILMENT_CENTER"){
                $('#dispatch-fulfilment-center').modal("toggle");
                url = product_url + '/order/internal/v1/update/' + orderID + '/dispatch_order';
            } else if(action == "DISPATCH_TO_FULFILMENT_DRIVER"){
                $('#dispatch-pickup').modal("toggle");
                url = product_url + '/order/internal/v1/update/' + orderID + '/pick_up';
            } else {
                return
            }
            
            handleChangeStatus(url, JSON.stringify(payload));

            return
        }

        function handlePickUpOrder(){
            $('#modal-pickup-driver').modal("toggle");

            var url = new URL(window.location.href);
            var orderID = url.searchParams.get("id");
            var pickupID = parseInt($("#pickup-pickup-id").val());
            var driverName = $("#pickup-driver-name").val();
            var driverPhone = $("#pickup-driver-phone").val();             

            var path_url = product_url + '/order/internal/v1/update/' + orderID + '/pick_up';
            var payload = {
                driver_pickup: {
                    pickup_ids: [pickupID],
                    driver_name: driverName,
                    driver_phone: driverPhone
                }
            };

            handleChangeStatus(path_url, JSON.stringify(payload));
        }

        function handleRejectPickUp(){
            $('#reject-pick-up').modal("toggle");

            var url = new URL(window.location.href);
            var orderID = url.searchParams.get("id");
            var pickUpID = parseInt($("#reject-pick-up-id").val());

            var path_url = product_url + '/order/internal/v1/update/' + orderID + '/pick_up_reject'
            var payload = {
                driver_pickup: {
                    pickup_ids: [pickUpID]
                }
            };
            
            handleChangeStatus(path_url, JSON.stringify(payload));
        }

        function handleFinishPickUp(){
            $('#finish-pick-up').modal("toggle");

            var url = new URL(window.location.href);
            var orderID = url.searchParams.get("id");
            var pickupID = $("#finish-pickup-id").val();

            // generate payload to hit
            var itemsPayload = [];
            for(var i=0; i < activePickupItems.length; i++){
                let quantity = $("#"+activePickupItems[i]).val();
                if(quantity == null){
                    quantity = 0;
                }

                let id = activePickupItems[i].replace("item-", "");
                itemsPayload.push({
                    id: parseInt(id),
                    quantity: parseInt(quantity),
                });
            }

            
            let path_url = product_url + '/order/internal/v1/update/' + orderID + '/pick_up_finish';
            let payload = {
                driver_pickup: {
                    pickup_ids: [parseInt(pickupID)],
                    items: itemsPayload
                }
            };

            handleChangeStatus(path_url, JSON.stringify(payload));
        }

        function handleTransitOrder(){
            $('#transit-on-cgx').modal("toggle");

            var url = new URL(window.location.href);
            var orderID = url.searchParams.get("id");
            
            let path_url = product_url + '/order/internal/v1/update/' + orderID + '/on_cgx';
            let payload = {};

            handleChangeStatus(path_url, JSON.stringify(payload));
        }

        function handleDeliverOrder(){
            $('#delivery-order').modal("toggle");

            var url = new URL(window.location.href);
            var orderID = url.searchParams.get("id");

            let path_url = product_url + '/order/internal/v1/update/' + orderID + '/delivery';

            // generate payload to hit
            var itemsPayload = [];
            for(var i=0; i < activePickupItems.length; i++){
                let quantity = $("#"+activePickupItems[i]).val();
                if(quantity == null){
                    quantity = 0;
                }

                let id = activePickupItems[i].replace("item-delivery-", "");
                itemsPayload.push({
                    id: parseInt(id),
                    quantity: parseInt(quantity),
                });
            }

            let payload = {
                driver_delivery: {
                    driver_name: $("#delivery-driver-name").val(),
                    driver_phone: $("#delivery-driver-phone").val(),
                    items: itemsPayload
                }
            };

            handleChangeStatus(path_url, JSON.stringify(payload));

            return
        }

        function handleFinishOrder(){
            var url = new URL(window.location.href);
            var orderID = url.searchParams.get("id");

            let path_url = product_url + '/order/internal/v1/update/' + orderID + '/finish';

            var receiverName = $("#receiver-name").val();
            let payload = {
                delivery: {
                    receiver: receiverName
                }
            };

            handleChangeStatus(path_url, JSON.stringify(payload));

            return
        }

        function handleChangeStatus(url, payload){
            StartLoading();

            var promise = $.ajax({
                url: url,
                type: 'POST',
                data: payload,
                crossDomain: true,
                xhrFields: {
                    withCredentials: true
                },
                headers: {
                    "Authorization": GetSessionBasedOnEnv(),
                    "Content-Type": "application/json",
                    "Accept": "application/json"
                }
            });

            promise.done(function(response){
                window.location.reload();
            }).fail(function(response){
                FinishLoading();
                if  (response.status < 500) {
                    setError(true, response.responseJSON.error.detail);
                } else {
                    setError(true, defaultServerError);
                }
            });

            return
        }

        function showModalRejectPickUp(pickupID, recieverName, recieverAddress){
            $("#reject-pick-up").modal("show");

            // add bold html tag
            recieverName = "<b>" + recieverName + "</b>";
            recieverAddress = "<b>" + recieverAddress + "</b>";

            // add pickup id on Label
            $("#reject-pick-up-label").html("Konfirmasi Pembatalan Pick Up #"+pickupID);
            $("#reject-pick-up-id").val(pickupID);

            // add generate confirmation text
            var strName = "Apakah anda yakin untuk melakukan pembatalan pick up atas nama: "+recieverName;
            var strAddr = " , dengan alamat: "+recieverAddress+" ?";
            
            $("#reject-pick-up-body").html(strName+strAddr);
        }

        function showModalPickUp(orderID, pickupID){
            $('#modal-pickup-driver').modal("show");

            // add pickup id on input for request data
            $('#pickup-pickup-id').val(pickupID);
        }

        function showModalFinishPickUp(pickupID){
            $("#finish-pick-up").modal("show");

            // add pickup id on input for request data
            $('#finish-pickup-id').val(pickupID);

            var items = PickupItems[pickupID];
            var component = "";

            // reset active list active pickup item
            activePickupItems = [];
            for(let i = 0; i < items.length; i++){
                let name = "<td>"+ items[i].name +"</td>";
                let description = "<td>"+ items[i].notes +"</td>";
                
                let inputID = "item-" + items[i].id;
                let input = `<td><input id="` + inputID +`" class="form-control form-control-sm" type="number" min="0" value="` + items[i].quantity + `"></td>`;
                activePickupItems.push(inputID);

                let newComponent = `<tr>`+ name + description + input +`</tr>`
                component = component + newComponent;
            }

            // generate component
            $('#finish-pick-up-body').html(component);
        }

        function showModalDeliverOrder(){
            $("#delivery-order").modal("show");

            var component = "";
            activePickupItems = [];
            for (var key in PickupItems) {
                let items = PickupItems[key];
                for(let i = 0; i < items.length; i++){
                    let name = "<td>"+ items[i].name +"</td>";
                    let description = "<td>"+ items[i].notes +"</td>";
                    
                    let inputID = "item-delivery-" + items[i].id;
                    let input = `<td><input id="` + inputID +`" class="form-control form-control-sm" type="number" min="0" value="` + items[i].quantity + `"></td>`;

                    activePickupItems.push(inputID);

                    let newComponent = `<tr>`+ name + description + input +`</tr>`
                    component = component + newComponent;
                }
            }

            // generate component
            $('#delivery-order-body').html(component);
        };

        function gotoTop(){
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

        var activePickupItems = [];

        var PickupItems = {};
        {{ range $indexPickup, $pickup := .order.Pickups }}
        PickupItems[{{ $pickup.ID }}] = {{ $pickup.Items }};
        {{ end }} 
    </script>
    <link href="/css/progress.css" rel="stylesheet">
</html>