<!DOCTYPE html>
<html lang="en">

  {{ template "dashboard-header.tmpl" .}}

    <body class="nav-fixed">
      {{ template "dashboard-notifcenter.tmpl" .}}   

      <div id="layoutSidenav">
          <!-- Sidebar -->
          {{ template "dashboard-sidebar.tmpl" .}}
          <div id="layoutSidenav_content">
                <main>
                    <div class="page-header">
                        <div class="container-fluid">
                            <div class="page-header-content py-2">
                                <div class="page-header-title" style="font-size:1rem;"> 
                                    <ol class="breadcrumb mt-1 mb-0">
                                        <li class="breadcrumb-item">
                                            <a href="#" style="color:black;" onclick="javascript:window.location='/dashboard/orders'">Order</a>
                                        </li>
                                        <li class="breadcrumb-item active">#{{ .order.ID }}</li>
                                    </ol>
                                </div>
                                <div class="page-header-subtitle">
                                    <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#delivery">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid mb-4" style="height: 100%;">
                        <ul class="progressbar">
                            <li>Konfirmasi</li>
                            <li>Pickup</li>
                            <li>Delivering</li>
                            <li>Done</li>
                        </ul>
                    </div>

                    <div class="container-fluid mt-4" style="margin-top: 4.5rem !important;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="sizing">
                                        <div class="card mb-4 mt-4">
                                            <div class="card-header text-dark">
                                                <div class="col-6">
                                                    Order #{{ .order.ID }}
                                                    <span class="badge badge-primary text-wrap ml-2">
                                                        New
                                                    </span>
                                                </div>
                                                <div class="col-6">
                                                    <div class="float-right">
                                                        <button class="btn btn-success btn-sm" type="button" data-toggle="modal" data-target="#konfirmasi">Approved</button>
                                                    <a class="btn btn-red btn-sm" type="button" href="/delivery-cancel">Cancel</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="position-relative">
                                                    <div class="row align-items-center justify-content-between">
                                                        <div class="col position-relative ">
                                                           <div class="row mb-3">
                                                                <div class="col-4 info" >
                                                                   <p >
                                                                    Airway bill
                                                                   </p >
                                                                   <p style="color:black;" class="font-weight-bold" >
                                                                       <h1>
                                                                            {{ .order.AWB }}
                                                                       </h1>
                                                                   </p>
                                                                </div>
                                                                <div class="col-4 info"> 
                                                                    <p >
                                                                        Klien
                                                                       </p>
                                                                       <p style="font-weight: 500;color: black;">
                                                                            {{ .order.CompanyName }}
                                                                       </p>
                                                                </div>
                                                                <div class="col-4 info"> 
                                                                    <p>
                                                                        Order Created
                                                                       </p>
                                                                       <p style="font-weight: 500;color: black;">
                                                                          <span class="text-grey-500">
                                                                              {{ .order.DeliveryName }}
                                                                          </span>
                                                                          <br>
                                                                            {{ .order.CreateTimeStr }}
                                                                       </p>
                                                                </div>
                                                           </div>
                                                           <div class="row mb-3">
                                                            <div class="col-4 info">
                                                                <p >
                                                                    Nama Penerima
                                                                    </p >
                                                                    <p style="color:black;" class="font-weight-bold" >
                                                                        {{ .order.ReceiverName }}
                                                                    </p>
                                                                    <p style="color:black;">
                                                                        {{ .order.ReceiverPhoneNumber }}
                                                                    </p>
                                                             </div>
                                                            <div class="col-8 info" >
                                                                <p >
                                                                Alamat
                                                                </p >
                                                                <p style="color:black;" class="font-weight-bold" >
                                                                    {{ .order.ReceiverAddress }}
                                                                    <p style="color:black;">
                                                                        {{ .order.ReceiverNotes }}
                                                                    </p>
                                                                </p>
                                                             </div>
                                                           </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Pickup Field Generated from here -->
                                            <div class="card-header" style="color:black;">Pengambilan</div>
                                            {{ range $indexPickup, $pickup := .order.Pickups }}
                                            <div class="card-body">
                                               <div class= "col-lg-12 p-4 mb-4" style="background-color:#e9edf3;">
                                                    <div class="position-relative">
                                                        <div class="row align-items-center justify-content-between">
                                                            <div class="col position-relative ">
                                                            <div class="row mb-3">
                                                                <div class="col-4 info">
                                                                    <p >
                                                                        Nama Penerima
                                                                        </p >
                                                                        <p style="color:black;" class="font-weight-bold" >
                                                                            {{ $pickup.Name }}
                                                                        </p>
                                                                        <p style="color:black;">
                                                                            {{ $pickup.PhoneNumber }}
                                                                        </p>
                                                                </div>
                                                                <div class="col-8 info" >
                                                                    <p >
                                                                    Alamat
                                                                    </p >
                                                                    <p style="color:black;" class="font-weight-bold" >
                                                                        {{ $pickup.Address }}
                                                                        <p style="color:black;">
                                                                            {{ $pickup.Notes }}
                                                                        </p>
                                                                    </p>
                                                                </div>
                                                                <div class="datatable table-responsive mt-4">
                                                                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Nama produk</th>
                                                                                <th>Deskripsi produk</th>
                                                                                <th>Jumlah</th>
                                                                                <th>Aksi</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {{ range $indexItem, $item := $pickup.Items }}
                                                                            <tr>
                                                                                <td>
                                                                                    {{ $item.Name }}
                                                                                </td>
                                                                                <td> 
                                                                                    {{ $item.Notes }}
                                                                                </td>
                                                                                <td>
                                                                                    {{ $item.Quantity }} {{ $item.UnitName }}
                                                                                </td>
                                                                                <td>
                                                                                    <button class="btn btn-datatable btn-icon btn-transparent-dark"><i data-feather="trash-2"></i></button>
                                                                                </td>
                                                                            </tr>
                                                                            {{ end }}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ end }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </main>
                <!-- Footer -->
                {{ template "dashboard-footer.tmpl" .}}
          </div>
      </div>
      
      <!-- Modal -->
      <div id="loading-pop-up" class="modal-loading">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
      </div>
      <!-- modal konfirmasi -->
      <div class="modal fade" id="konfirmasi" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Konfirmasi Order</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h6>
                            Masukan Airwaybill
                        </h6>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Airwaybill</label>
                            <input class="form-control" type="name" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-red btn-sm" type="button" data-dismiss="modal">Close</button>
                        <a class="btn btn-success btn-sm" type="button" href="/delivery-confirmed">Submit</a>
                    </div>
                </div>
            </div>
        </div>

    </body>
    {{ template "default-script-dashboard.tmpl" .}}

    <script>
         function togglePickupField(comp){
            console.log(comp);
            $(comp).css("display", "none");
        }
    </script>
    <link href="/css/progress.css" rel="stylesheet">
</html>