<!DOCTYPE html>
<html lang="en">

    {{ template "dashboard-header.tmpl" .}}

    <body class="nav-fixed">
        {{ template "dashboard-notifcenter.tmpl" .}}   
        
        <div id="layoutSidenav">
            {{ template "dashboard-sidebar.tmpl" .}}
            <div id="layoutSidenav_content">
                <main>
                    <div class="page-header pb-10">
                        <div class="container-fluid">
                            <div class="page-header-content">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="users"></i></div>
                                    <span>{{ .company.CompanyName }}</span>        
                                </h1>
                                <button class="btn btn-light btn-sm" type="button" onclick="javascript:window.location='/dashboard/companies'"><i data-feather="chevron-left"></i>Back</button>   
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid mt-n10">
                        <div class="row">
                            <div class="col-lg-9">
                                <div id="sizing">
                                    <div class="card mb-4">
                                        <div class="card-header">Data Perusahaan</div>
                                        <div class="card-body">
                                            <div class="position-relative">
                                                <div class="row align-items-center justify-content-between">
                                                    <div class="col position-relative">
                                                        <p class="text-gray-700">Nama Perusahaan: {{ .company.CompanyName }}</p>
                                                        <p class="text-gray-700">Alamat: {{ .company.Address }}</p>
                                                        <p class="text-gray-700">Telepon Perusahaan: {{ .company.PhoneNumber }}</p>
                                                        <p class="text-gray-700">Status Aktivasi: {{ .company.StatusActivation }}</p>
                                                        
                                                        {{ if not .company.IsEnabled }}
                                                        <button class="btn btn-success col-sm-12" data-toggle="modal" data-target="#toggle-account-activation" style="color: white;">
                                                            Aktifkan Akun
                                                        </button>
                                                        {{ end }}

                                                        {{ if .company.IsEnabled }}
                                                        <button class="btn btn-danger btn-sm col-sm-12" data-toggle="modal" data-target="#toggle-account-activation" style="color: white;">
                                                            Non Aktifkan Akun
                                                        </button>
                                                        {{ end }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div id="status">
                                    <div class="card mb-4">
                                        <div class="card-header">Kunci API </div>
                                        <div class="card-body">
                                            <div class="datatable table-responsive">
                                                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Kunci API</th>
                                                            <th>Edit</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Ecommerce<br>
                                                            <b>ID:</b>5e8485f03d9b184119af6421
                                                            
                                                            </td>
                                                            <td> <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModalCenter">  <i data-feather="eye"></i></button>
                                                             </td>
                                                            <td>
                                                                <button class="btn btn-datatable btn-icon btn-transparent-dark"><i data-feather="trash-2"></i></button>
                                                            </td>
                                                        </tr>                                                   
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>

                            <!-- List Modals -->
                            <div class="modal fade" id="toggle-account-activation" tabindex="-1" role="dialog" aria-labelledby="toggle-account-activation-title" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="toggle-account-activation-title">
                                                {{ if .company.IsEnabled }}
                                                    Konfirmasi untuk mematikan akun
                                                {{ end }}
                                                {{ if not .company.IsEnabled }}
                                                    Konfirmasi untuk mengaktifkan akun
                                                {{ end }}
                                            </h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body">                               
                                            {{ if .company.IsEnabled }}
                                                    Apakah anda yakin untuk mematikan akun dari perusahaan {{ .company.CompanyName }} ?
                                            {{ end }}

                                            {{ if not .company.IsEnabled }}
                                                    Apakah anda yakin untuk mengaktifkan akun dari perusahaan {{ .company.CompanyName }} ?
                                            {{ end }}
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-success btn-secondary" type="button" data-dismiss="modal">Batalkan</button>
                                            <button class="btn btn-danger btn-secondary" type="button" data-dismiss="modal">Konfirmasi</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="nav-sticky">
                                    <div class="card">
                                        <div class="card-body">
                                            <ul class="nav flex-column" id="stickyNav">
                                                <li class="nav-item"><a class="nav-link" href="/dashboard/update-company?id={{ .company.ID }}">Edit Data Perusahaan</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="footer mt-auto footer-light">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 small">Copyright &copy; CGX 2020</div>
    
                        </div>
                    </div>
                </footer>
            </div>
        </div>

         <!-- Modal -->
        <div id="loading-pop-up" class="modal-loading">
          <div class="lds-facebook"><div></div><div></div><div></div></div>
        </div>
    </body>

    {{ template "default-script-dashboard.tmpl" .}}
</html>
