<!DOCTYPE html>
<html lang="en">

    {{ template "dashboard-header.tmpl" .}}

    <body class="nav-fixed">
        {{ template "dashboard-notifcenter.tmpl" .}}   
        
        <div id="layoutSidenav">
            {{ template "dashboard-sidebar.tmpl" .}}
            <div id="layoutSidenav_content">
                <main>
                    <div class="page-header pb-10">
                        <div class="container-fluid">
                            <div class="page-header-content">
                                <h1 class="page-header-title">
                                    <div class="page-header-icon"><i data-feather="users"></i></div>
                                    <span>{{ .account.Fullname }}</span>        
                                </h1>
                                <button class="btn btn-light btn-sm" type="button" onclick="javascript:window.location='/dashboard/users'">
                                    <i data-feather="chevron-left"></i>Kembali
                                </button>   
                            </div>
                            <div id="success-alert" class="alert alert-success hide" role="alert" style="margin: -2rem 0 1rem 0;"></div>
                            <div id="failed-alert" class="alert alert-danger hide" role="alert" style="margin: -2rem 0 1rem 0;"></div>
                        </div>
                    </div>
                    <div class="container-fluid mt-n10">
                        <div class="row">
                            <div class="col-lg-9">
                                <div id="sizing">
                                    <div class="card mb-4">
                                        <div class="card-header">Detail Akun Pengguna</div>
                                        <div class="card-body">
                                            <div class="position-relative">
                                                <div class="row align-items-center justify-content-between">
                                                    <div class="col position-relative">
                                                        <div class="row mb-3">
                                                             <div class="col-6 info" >
                                                                <p>Email</p >
                                                                <p style="color:black; font-weight: 500;">
                                                                    {{ .account.Email }}
                                                                </p>
                                                             </div>
                                                             <div class="col-6 info"> 
                                                                 <p>Nama Lengkap</p>
                                                                    <p style="font-weight: 500;color: black;">
                                                                            {{ .account.Fullname }}
                                                                    </p>
                                                             </div>
                                                        </div>

                                                        <div class="row mb-3">
                                                             <div class="col-6 info" >
                                                                <p>Nomor Telepon</p >
                                                                <p style="color:black; font-weight: 500">
                                                                    {{ .account.PhoneNumber }}
                                                                </p>
                                                             </div>
                                                             <div class="col-6 info"> 
                                                                 <p>Tanggal Bergabung</p>
                                                                    <p style="font-weight: 500;color: black;">
                                                                            {{ .account.CreateTime }}
                                                                    </p>
                                                             </div>
                                                        </div>

                                                        <div id="button-account-activation"></div>

                                                        <div id="button-change-password"></div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="row">
                                    {{ if ne .account.ProfileImage "" }}
                                    <div class="col-lg-12">
                                        <div class="nav-sticky">
                                            <div class="card">
                                                <div class="card-body">
                                                    <img src="{{ .account.ProfileImage }}" width="100%" height="300px" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ end }}

                                    <div class="col-lg-12">
                                        <div class="nav-sticky">
                                            <div class="card">
                                                <div class="card-body">
                                                    <ul class="nav flex-column" id="stickyNav">
                                                        <li class="nav-item"><a class="nav-link" href="/dashboard/update-user?id={{ .account.ID }}">Edit Data Anggota</a></li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-target="#modal-edit-feature" data-toggle="modal" style="cursor: pointer; color: blue;">
                                                                Edit Feature Pengguna
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- List Modals -->
                            <div class="modal fade" id="toggle-account-activation" tabindex="-1" role="dialog" aria-labelledby="toggle-account-activation-title" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="toggle-account-activation-title">
                                                {{ if .account.Attribute.IsEnabled }}
                                                    Konfirmasi untuk mematikan akun
                                                {{ end }}
                                                {{ if not .account.Attribute.IsEnabled }}
                                                    Konfirmasi untuk mengaktifkan akun
                                                {{ end }}
                                            </h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body">                               
                                            {{ if .account.Attribute.IsEnabled }}
                                                    Apakah anda yakin untuk mematikan akun {{ .account.Fullname }} ?
                                            {{ end }}

                                            {{ if not .account.Attribute.IsEnabled }}
                                                    Apakah anda yakin untuk mengaktifkan akun {{ .account.Fullname }} ?
                                            {{ end }}
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-danger btn-secondary" type="button" data-dismiss="modal">Batalkan</button>
                                            <button class="btn btn-success btn-secondary" type="button" data-dismiss="modal" onclick="javascript:ProcessChangeStatus()">Konfirmasi</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="toggle-change-password" tabindex="-1" role="dialog" aria-labelledby="toggle-change-password-title" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="toggle-change-password-title">
                                                Konfirmasi ubah password
                                            </h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body">                               
                                            <div class="form-group">
                                                <label for="field-new-password">Password baru untuk {{ .account.Fullname }}</label>
                                                <input class="form-control form-control-sm" id="field-new-password" type="password" />
                                            </div>

                                            <div class="form-group">
                                                <label for="field-new-password-confirm">Konfirmasi Password</label>
                                                <input class="form-control form-control-sm" id="field-new-password-confirm" type="password" />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-success btn-secondary" type="button" data-dismiss="modal">Batalkan</button>
                                            <button class="btn btn-danger btn-secondary" type="button" onclick="javascript:ProcessChangePassword()" data-dismiss="modal">Simpan</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of List Modals -->
                            
                            <div class="col-lg-9">
                                <div id="sizing">
                                    <div class="card mb-4">
                                        <div class="card-header">Terdaftar Pada Perusahaan</div>
                                        <div class="card-body">
                                            <div class="position-relative">
                                                <div class="row align-items-center justify-content-between">
                                                    <div class="col position-relative">
                                                        <p class="text-gray-700">ID : {{ .account.Company.ID }}</p>
                                                        <p class="text-gray-700">Nama : {{ .account.Company.CompanyName }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9">
                                <div class="card mb-4">
                                    <div class="card-header">Aktif Feature</div>
                                    <div class="card-body">
                                        <div class="datatable table-responsive">
                                            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Nama</th>
                                                        <th>Deskripsi</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="feature-list"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </main>
                <footer class="footer mt-auto footer-light">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 small">Copyright &copy; CGX 2020</div>
    
                        </div>
                    </div>
                </footer>
            </div>
        </div>

         <!-- Modal Loading -->
        <div id="loading-pop-up" class="modal-loading">
          <div class="lds-facebook"><div></div><div></div><div></div></div>
        </div>
        <!-- End Of Modal Loading -->

        <!-- Modal Edit Feature To Pengguna -->
        <div class="modal fade" id="modal-edit-feature" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-edit-feature-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Feature Pengguna</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div id="modal-list-feature" class="modal-body"></div>
                    <div class="modal-footer">
                        <button class="btn btn-red btn-sm" type="button" data-dismiss="modal">Tutup</button>
                        <a class="btn btn-success btn-sm" type="button" onclick="javascript:UpdateUserFeature()" data-dismiss="modal" style="text-decoration: none; color: black;">
                            Simpan Pengaturan Feature
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal Edit Feature To Company -->
        
    </body>

    {{ template "default-script-dashboard.tmpl" .}}
    <script>
        var userID = {{ .account.ID }};
        var isEnabledAccount = {{ .account.Attribute.IsEnabled  }};
        var registeredFeature = {{ .account.RegisteredFeature }}
        
        var features = [];

        $(document).ready(function(){
            FetchFeature();
        });

        function ProcessChangePassword(){
            setError(false, "");

            var password = $("#field-new-password").val();
            var passwordConfirm =$("#field-new-password-confirm").val();

            if(password != passwordConfirm){
                setError(true, "password baru dan password  konfirmasi berbeda"); 
                return
            }

            if(password == ""){
                setError(true, "password baru tidak boleh kosong"); 
                return
            }

            StartLoading();
            var promise = UpdatePassword(userID, password);
            promise.done(function(response){
                response = response.data;

                if(response.error!=null){
                    setError(true, response.error.detail);
                } else {
                    setError(false, "");
                    $("#success-alert").removeClass("hide");
                    $("#success-alert").html("Sukses melakukan update akun");
                }

                $("#field-new-password").val("");
                $("#field-new-password-confirm").val("");

                FinishLoading();
            }).fail(function(response){
                FinishLoading();
                setError(true, "Ada kendala pada server, silahkan mencoba sekali lagi");                
            });
        }
    
        function UpdatePassword(userID, password){
            var url = base_url + '/admin/change-password';
            var data = {
                user_id: userID,
                new_password: password,
            };
            
            var promise = $.ajax({
                url: url,
                type: 'POST',
                data: data,
                xhrFields: {
                    withCredentials: true
                }
            });

            return promise;
        }

        function ProcessChangeStatus(){
            setError(false, "");

            var toggleIsEnabledAccount = !isEnabledAccount;

            StartLoading();
            var promise = UpdateStatusActivation(userID, toggleIsEnabledAccount);
            promise.done(function(response){
                response = response.data;

                if(response.error!=null){
                    setError(true, response.error.detail);
                } else {
                    setError(false, "");
                    $("#success-alert").removeClass("hide");

                    if(!toggleIsEnabledAccount) {
                        $("#success-alert").html("Sukses melakukan update. Akun sekarang telah di non aktifkan");
                    } else {
                        $("#success-alert").html("Sukses melakukan update akun. Akun sekarang telah di aktifkan");
                    }
                    
                }

                FinishLoading();
                setTimeout(function(){
                    window.location.reload();
                }, 5000);
            }).fail(function(response){
                FinishLoading();
                setError(true, "Ada kendala pada server, silahkan mencoba sekali lagi");                
            });
        }

        function UpdateStatusActivation(userID, isEnabled){
            var url = base_url + '/admin/change-account-activation';
            var data = {
                user_id: userID,
                is_enabled: isEnabled,
            };
            
            var promise = $.ajax({
                url: url,
                type: 'POST',
                data: data,
                xhrFields: {
                    withCredentials: true
                }
            });

            return promise;
        }

        function UpdateUserFeature(){
            var selectedFeature = [];

            StartLoading();

            for(i=0; i<features.length; i++){
                if ($("#"+features[i]).is(":checked")) {
                    selectedFeature.push(parseInt($("#"+features[i]).val()));
                }
            }

            var url = product_url + '/admin/v1/update-feature';

            var payload = {
                account_id: userID,
                feature_ids: selectedFeature
            }

            var promise = $.ajax({
                url: url,
                type: 'POST',
                data: JSON.stringify(payload),
                crossDomain: true,
                xhrFields: {
                    withCredentials: true
                },
                headers: {
                    "Authorization": GetCookie('_CGX_DEV_'),
                    "Content-Type": "application/json",
                    "Accept": "application/json"
                }
            });

            promise.done(function(response){
                response = response.data;

                if(response.error!=null){
                    setError(true, response.error.detail);
                    gotoTop();
                } else {
                    setError(false, "");
                    $("#success-alert").removeClass("hide");

                    $("#success-alert").html(response.message);

                    window.location.reload();
                }
                FinishLoading();
            }).fail(function(response){
                FinishLoading();
                response = response.responseJSON;
                if(response.error!=null){
                    setError(true, response.error.detail);
                    gotoTop();
                } else {
                    setError(true, defaultServerError);
                }
            });

            return
        }

        function InitButtonChangeActivation(){
            var activationAccComp;
            if(!isEnabledAccount){
                activationAccComp = `
                    <button class="btn btn-success col-sm-12" data-toggle="modal" data-target="#toggle-account-activation" style="color: white;">
                        Aktifkan Akun
                    </button>
                `;
            } else {
                activationAccComp = `
                    <button class="btn btn-danger btn-sm col-sm-12" data-toggle="modal" data-target="#toggle-account-activation" style="color: white;">
                        Non Aktifkan Akun
                    </button>
                `;
            }

            $('#button-account-activation').append(activationAccComp);
        }

        function InitButtonChangePassword(){
            var changePasswordBtn = `
                <button class="btn btn-primary btn-sm col-sm-12" data-toggle="modal" data-target="#toggle-change-password" style="color: white; margin: 1rem 0;">
                    Ubah Password
                </button>
            `;

            $('#button-change-password').append(changePasswordBtn);
        }

        function FetchFeature(){
            StartLoading();

                var params = new URLSearchParams({
                    page: 1,
                    rows: 100,
                    order_by: "desc",
                    company_id: session_detail.company.company_id
                })
                var url = product_url + '/admin/v1/account-feature?' + params;
                
                var promise = $.ajax({
                    url: url,
                    type: 'GET',
                    crossDomain: true,
                    xhrFields: {
                        withCredentials: true
                    },
                    headers: {
                        "Authorization": GetCookie('_CGX_DEV_'),
                        "Accept": "application/json"
                    }
                });

            // Check is user have feature activation account or not
            let isHaveFeatureActivationAcc = false;
            let isHaveFeatureChangePass = false;

            if(session_detail.company.role == -999) {
                isHaveFeatureActivationAcc = true;
                isHaveFeatureChangePass = true;
            }

            promise.done(function(response){
                response = response.data;
                response.features.forEach(element => {
                    // create and push component for detail registered feature
                    let isRegistered = "";
                    for(let i=0; i<registeredFeature.length;i++){
                        if(registeredFeature[i] == element.id){
                            // if user is god or have access to status activation feature
                            if((element.path_url == '/admin/v1/change-status-activation' && element.method == 'POST')){
                                isHaveFeatureActivationAcc = true;
                            }

                            // if user is god or have access to status change account password
                            if((element.path_url == '/admin/v1/change-password' && element.method == 'POST')){
                                isHaveFeatureChangePass = true;
                            }

                            // generate new component for detail information
                            let moduleComp = `
                                <tr>
                                    <td>
                                        <b>` + element.name + `</b>
                                    </td>
                                    <td>
                                        ` + element.description + `
                                    </td>
                                </tr>   
                            `;
                            
                            $("#feature-list").append(moduleComp);
                            isRegistered = "checked";
                            break;
                        }
                    }

                    // push pattern feature id for edit feature 
                    features.push("feature-id-"+element.id);

                    // generate new component for modal input
                    var comp = `
                        <div class="form-check">
                            <input class="form-check-input" id="feature-id-` + element.id + `" value="` + element.id + `" type="checkbox" ` + isRegistered + `/>
                            <label class="form-check-label" for=""feature-id-` + element.id + `">` + element.name + `</label>
                        </div>
                    `;
                    
                    // create and push component for modal
                    $("#modal-list-feature").append(comp);
                });
                
                FinishLoading();
                if(response.error!=null){
                    setError(true, response.error.detail);
                    return
                }

                if(isHaveFeatureActivationAcc){
                    InitButtonChangeActivation();
                }

                if(isHaveFeatureChangePass){
                    InitButtonChangePassword();
                }
            }).fail(function(response){
                setError(true, defaultServerError);
                FinishLoading();
            });

            return
        }

        function setError(isShow, message = "") {
            if (isShow) {
                $("#failed-alert").removeClass("hide");
                $("#failed-alert").html(message);
            } else {
                $("#failed-alert").addClass("hide");
                $("#failed-alert").html("");
            }
        }
    </script>
</html>
