<!DOCTYPE html>
<html lang="en">

  {{ template "dashboard-header.tmpl" .}}

    <body class="nav-fixed">
      {{ template "dashboard-notifcenter.tmpl" .}}   

      <div id="layoutSidenav">
            <!-- Sidebar -->
            {{ template "dashboard-sidebar.tmpl" .}}
            <div id="layoutSidenav_content">
              <main>
                    <div class="container-fluid mt-5">
                        <div id="success-alert" class="alert alert-success hide" role="alert"></div>
                        <div id="failed-alert" class="alert alert-danger hide" role="alert"></div>
                        <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
                            <div class="mr-4 mb-3 mb-sm-0">
                                <h1 class="mb-0">Daftar Feature</h1>
                            </div>
                            <div class="dropdown">
                                <a class="btn btn-primary lift btn-sm" data-toggle="modal" 
                                    data-target="#modal-create-feature"
                                    style="color: white;"
                                    >
                                    <i data-feather="plus"></i>Tambah Feature Baru
                                </a>
                            </div>
                          
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="datatable table-responsive">
                                    <table class="table table-bordered table-hover middle-table" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">FEATURE ID</th>
                                                <th style="text-align: center;">NAME</th>
                                                <th style="text-align: center;">DESCRIPTION</th>
                                                <th style="text-align: center;">ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{ range $index, $feature := .features }}
                                            <tr>
                                                <td>{{ $feature.ID }}</td>
                                                <td>{{ $feature.Name }}</td>
                                                <td>{{ $feature.Description }}</td>
                                                <td>
                                                    <button 
                                                        class="btn btn-sm btn-outline-primary col-sm-12" 
                                                        type="button"
                                                        onclick="javascript:handleModalOpenUpdateFeature(
                                                            {{ $feature.ID }}, 
                                                            {{ $feature.AccountModuleID }} , 
                                                            {{ $feature.Name }}, 
                                                            {{ $feature.Description }}, 
                                                            {{ $feature.Method }}, 
                                                            {{ $feature.PathUrl }})"
                                                    >
                                                        view
                                                    </button>
                                                </td>
                                            </tr>
                                            {{ end }}
                                        </tbody>
                                    </table>
                                </div>
                                <nav aria-label="...">
                                  <ul class="pagination">
                                    {{ $pagination := .pagination }}
                                    <li class="page-item {{ if (le $pagination.Page 1 ) }} disable {{ end }}">
                                        <a 
                                            class="page-link"
                                            {{ if (gt $pagination.Page 1 ) }} 
                                            href="{{ $pagination.Template }}&page={{ $pagination.PrevPage }}" 
                                            {{ end }}>
                                            Sebelumnnya
                                        </a>
                                    </li>
                                    {{ range $_, $index := .pagination.ListPage }}
                                    <li class="page-item  
                                        {{ if (eq $pagination.Page $index) }} active {{ end }}">
                                        <a class="page-link" 
                                            href="{{ $pagination.Template }}&page={{ $index }}">
                                            {{ $index }}
                                        </a>
                                    </li>
                                    {{ end }}
                                    <li class="page-item {{ if (ge $pagination.Page $pagination.TotalPage ) }}disable{{ end }}">
                                        <a 
                                            class="page-link" 
                                            {{ if (lt $pagination.Page $pagination.TotalPage ) }} 
                                            href="{{ $pagination.Template }}&page={{ $pagination.NextPage }}"
                                            {{ end }}
                                        >
                                            Selanjutnya
                                        </a>
                                    </li>
                                  </ul>
                                </nav>
                            </div>
                            </div>
                        </div>
                    </div>
                </main>

                <!-- Modal Create Feature -->
                <div class="modal fade" id="modal-create-feature" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-create-feature-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="receiver-name-label">Buat Feature Baru</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="feature-name">Nama Feature</label>
                                    <input class="form-control" id="feature-name" type="text" />
                                </div>
                                <div class="form-group">
                                    <label for="feature-description"></label>Deskripsi Feature</label>
                                    <textarea class="form-control" id="feature-description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="feature-module-id">Member Of Module</label>
                                    <select id="feature-module-id" class="form-control">
                                        <option id="initial-module" value="0"> - </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="feature-path-url">Path URL</label>
                                    <input class="form-control" id="feature-path-url" type="text" placeholder="Identifier url. example: /dashboard/features" />
                                </div>
                                <div class="form-group">
                                    <label for="feature-method">Feature Method</label>
                                    <select id="feature-method" class="form-control">
                                        <option value="GET"> GET </option>
                                        <option value="POST"> POST </option>
                                        <option value="PUT"> PUT </option>
                                        <option value="PATCH"> PATCH </option>
                                        <option value="HEAD"> HEAD </option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-red btn-sm" type="button" onclick="javascript:handleCloseCreateFeature()" data-dismiss="modal">Tutup</button>
                                <a class="btn btn-success btn-sm" type="button" onclick="javascript:handleCreateFeature()" style="text-decoration: none; color: black;">
                                    Buat Feature Baru
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal Create Feature -->

                <!-- Modal Update Feature -->
                <div class="modal fade" id="modal-update-feature" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-update-feature-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="muf-receiver-name-label">Detail Feature Data</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close" onclick="javascript:handleModalCloseUpdateFeature()">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="muf-feature-name">Nama Feature</label>
                                    <input class="form-control" id="muf-feature-id" type="text" style="display: none;" />
                                    <input class="form-control" id="muf-feature-name" type="text" />
                                </div>
                                <div class="form-group">
                                    <label for="muf-feature-description"></label>Deskripsi Feature</label>
                                    <textarea class="form-control" id="muf-feature-description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="muf-feature-module-id">Member Of Module</label>
                                    <select id="muf-feature-module-id" class="form-control">
                                        <option id="initial-module-muf" value="0"> - </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="feature-path-url">Path URL</label>
                                    <input class="form-control" id="muf-feature-path-url" type="text" placeholder="Identifier url. example: /dashboard/features" />
                                </div>
                                <div class="form-group">
                                    <label for="muf-feature-method">Feature Method</label>
                                    <select id="muf-feature-method" class="form-control">
                                        <option value="GET"> GET </option>
                                        <option value="POST"> POST </option>
                                        <option value="PUT"> PUT </option>
                                        <option value="PATCH"> PATCH </option>
                                        <option value="HEAD"> HEAD </option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-red btn-sm" type="button" onclick="javascript:handleModalCloseUpdateFeature()" data-dismiss="modal">Tutup</button>
                                <a class="btn btn-success btn-sm" type="button" onclick="javascript:handleUpdateFeature()" style="text-decoration: none; color: black;">
                                    Update Feature
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal Update Feature -->
            </div>
      </div>
      
      <!-- Modal -->
      <div id="loading-pop-up" class="modal-loading">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
      </div>

      <!-- Footer -->
      {{ template "dashboard-footer.tmpl" .}}

    </body>
    {{ template "default-script-dashboard.tmpl" .}}

    <script>
        $(document).ready(function(){
            // get list modules
            getAllModules();
        });

        function handleCloseCreateFeature(){
            $('#feature-name').val('');
            $('#feature-description').val('');
            $('#feature-path-url').val('');
            
            $('#initial-module').attr('selected', true);
        }

        function handleModalOpenUpdateFeature(featureID, moduleID, name, description, method, pathURL){
            $("#modal-update-feature").modal("show");
            
            $('#muf-feature-id').val(featureID);
            $('#muf-feature-module-id').val(moduleID);
            $('#muf-feature-name').val(name);
            $('#muf-feature-description').text(description);
            $('#muf-feature-path-url').val(pathURL);
            $('#muf-feature-method').val(method);
        }

        function handleModalCloseUpdateFeature(){
            $("#modal-update-feature").modal("hide");
            
            $('#muf-feature-id').val('');
            $('#muf-feature-module-id').val('');
            $('#muf-feature-name').val('');
            $('#muf-feature-description').text('');
            $('#muf-feature-path-url').val();
            $('#muf-feature-method').val('');
        }

        function handleCreateFeature(){
            StartLoading();
            var url = product_url + '/admin/v1/account-feature';

            var payload = {
                account_module_id: parseInt($('#feature-module-id').val()),
                name: $('#feature-name').val(),
                description: $('#feature-description').val(),
                path_url: $('#feature-path-url').val(),
                method:$('#feature-method').val(),
            }

            var promise = $.ajax({
                url: url,
                type: 'POST',
                data: JSON.stringify(payload),
                crossDomain: true,
                xhrFields: {
                    withCredentials: true
                },
                headers: {
                    "Authorization": GetSessionBasedOnEnv(),
                    "Content-Type": "application/json",
                    "Accept": "application/json"
                }
            });

            promise.done(function(response){
                response = response.data;

                if(response.error!=null){
                    setError(true, response.error.detail);
                    gotoTop();
                } else {
                    handleCloseCreateFeature();
                    FinishLoading();
                    window.location.reload();   
                }
            }).fail(function(response){
                setError(true, defaultServerError);
            });

            return
        }

        function handleUpdateFeature(){
            StartLoading();
            var url = product_url + '/admin/v1/account-feature';

            var payload = {
                feature_id: parseInt($('#muf-feature-id').val()),
                account_module_id: parseInt($('#muf-feature-module-id').val()),
                name: $('#muf-feature-name').val(),
                description: $('#muf-feature-description').val(),
                path_url: $('#muf-feature-path-url').val(),
                method:$('#muf-feature-method').val(),
            }

            var promise = $.ajax({
                url: url,
                type: 'POST',
                data: JSON.stringify(payload),
                crossDomain: true,
                xhrFields: {
                    withCredentials: true
                },
                headers: {
                    "Authorization": GetSessionBasedOnEnv(),
                    "Content-Type": "application/json",
                    "Accept": "application/json"
                }
            });

            promise.done(function(response){
                response = response.data;

                if(response.error!=null){
                    setError(true, response.error.detail);
                    gotoTop();
                } else {
                    handleModalCloseUpdateFeature();
                    FinishLoading();
                    window.location.reload();   
                }
            }).fail(function(response){
                setError(true, defaultServerError);
            });

            return
        }

        function getAllModules(){
            var params = new URLSearchParams({
                page: 1,
                rows: 100,
                order_by: "desc"
            })
            var url = product_url + '/admin/v1/account-module?' + params;

            var promise = $.ajax({
                url: url,
                type: 'GET',
                crossDomain: true,
                xhrFields: {
                    withCredentials: true
                },
                headers: {
                    "Authorization": GetSessionBasedOnEnv(),
                    "Accept": "application/json"
                }
            });

            promise.done(function(response){
                response = response.data;

                response.modules.forEach(element => {
                    var comp = `<option value="` + element.id + `"> ` + element.name + ` </option>`;
                    
                    $("#initial-module").after(comp);
                    $("#initial-module-muf").after(comp);
                });


                if(response.error!=null){
                    setError(true, response.error.detail);
                }
            }).fail(function(response){
                setError(true, defaultServerError);
            });

            return
        }

        function gotoTop(){
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    </script>
</html>