<!DOCTYPE html>
<html lang="en">

  {{ template "dashboard-header.tmpl" .}}

    <body class="nav-fixed">
      {{ template "dashboard-notifcenter.tmpl" .}}   

      <div id="layoutSidenav">
            <!-- Sidebar -->
            {{ template "dashboard-sidebar.tmpl" .}}
            <div id="layoutSidenav_content">
              <main>
                    <div class="container-fluid mt-5">
                        <div id="success-alert" class="alert alert-success hide" role="alert"></div>
                        <div id="failed-alert" class="alert alert-danger hide" role="alert"></div>
                        <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
                            <div class="mr-4 mb-3 mb-sm-0">
                                <h1 class="mb-0">Feature Module</h1>
                            </div>
                            <div class="dropdown">
                                <a class="btn btn-primary lift btn-sm" data-toggle="modal" 
                                    data-target="#modal-create_module"
                                    style="color: white;"
                                    >
                                    <i data-feather="plus"></i>Tambah Module Baru
                                </a>
                            </div>
                          
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="datatable table-responsive">
                                    <table class="table table-bordered table-hover middle-table" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">MODULE ID</th>
                                                <th style="text-align: center;">NAME</th>
                                                <th style="text-align: center;">DESCRIPTION</th>
                                                <th style="text-align: center;">ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{ range $index, $module := .modules }}
                                            <tr>
                                                <td>{{ $module.ID }}</td>
                                                <td>{{ $module.Name }}</td>
                                                <td>{{ $module.Description }}</td>
                                                <td>
                                                    <button 
                                                        class="btn btn-sm btn-outline-primary col-sm-12" 
                                                        type="button"
                                                        onclick="javascript:window.location='/dashboard/user?id={{ $module.ID }}'">
                                                        view
                                                    </button>
                                                </td>
                                            </tr>
                                            {{ end }}
                                        </tbody>
                                    </table>
                                </div>
                                <nav aria-label="...">
                                  <ul class="pagination">
                                    {{ $pagination := .pagination }}
                                    <li class="page-item {{ if (le $pagination.Page 1 ) }} disable {{ end }}">
                                        <a 
                                            class="page-link"
                                            {{ if (gt $pagination.Page 1 ) }} 
                                            href="{{ $pagination.Template }}?page={{ $pagination.PrevPage }}&rows={{ $pagination.Rows }}" 
                                            {{ end }}>
                                            Sebelumnnya
                                        </a>
                                    </li>
                                    {{ range $_, $index := .pagination.ListPage }}
                                    <li class="page-item  
                                        {{ if (eq $pagination.Page $index) }} active {{ end }}">
                                        <a class="page-link" 
                                            href="{{ $pagination.Template }}?page={{ $index }}&rows={{ $pagination.Rows }}">
                                            {{ $index }}
                                        </a>
                                    </li>
                                    {{ end }}
                                    <li class="page-item {{ if (ge $pagination.Page $pagination.TotalPage ) }}disable{{ end }}">
                                        <a 
                                            class="page-link" 
                                            {{ if (lt $pagination.Page $pagination.TotalPage ) }} 
                                            href="{{ $pagination.Template }}?page={{ $pagination.NextPage }}&rows={{ $pagination.Rows }}"
                                            {{ end }}
                                        >
                                            Selanjutnya
                                        </a>
                                    </li>
                                  </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </main>

                <!-- Modal Create Module -->
                <div class="modal fade" id="modal-create_module" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal-create_module-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="receiver-name-label">Buat Module Baru</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="module-name">Nama Module</label>
                                    <input class="form-control" id="module-name" type="text" />
                                </div>
                                <div class="form-group">
                                    <label for="module-description">Deskripsi Module</label>
                                    <textarea class="form-control" id="module-description"></textarea>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="module-mark-default" value="1" type="checkbox">
                                    <label class="form-check-label" for="module-mark-default">Can Mark As Default Module</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-red btn-sm" type="button" onclick="javascript:handleCloseCreateModule()" data-dismiss="modal">Tutup</button>
                                <a class="btn btn-success btn-sm" type="button" onclick="javascript:handleCreateModule()" style="text-decoration: none; color: black;">
                                    Buat Module Baru
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal Create Module -->

                <!-- Footer -->
                {{ template "dashboard-footer.tmpl" .}}
            </div>
      </div>
      
      <!-- Modal -->
      <div id="loading-pop-up" class="modal-loading">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
      </div>

    </body>
    {{ template "default-script-dashboard.tmpl" .}}

    <script>
        function handleCloseCreateModule(){
            $('#module-name').val('');
            $('#module-description').val('');

            $('#module-name').modal('close');
        }

        function handleCreateModule(){
            var url = product_url + '/admin/v1/account-module';

            var canMarkAsDefault = $('#module-mark-default').val();
            if(canMarkAsDefault == "1"){
                canMarkAsDefault = true;
            } else {
                canMarkAsDefault = false;
            }

            var payload = {
                name: $('#module-name').val(),
                description: $('#module-description').val(),
                can_mark_as_default: canMarkAsDefault
            }

            var promise = $.ajax({
                url: url,
                type: 'POST',
                data: JSON.stringify(payload),
                crossDomain: true,
                xhrFields: {
                    withCredentials: true
                },
                headers: {
                    "Authorization": GetCookie('_CGX_DEV_'),
                    "Content-Type": "application/json",
                    "Accept": "application/json"
                }
            });

            promise.done(function(response){
                response = response.data;

                FinishLoading();
                if(response.error!=null){
                    setError(true, response.error.detail);
                    gotoTop();
                } else {
                    window.location.reload();   
                }
            }).fail(function(response){
                FinishLoading();
                setError(true, defaultServerError);
            });

            function setError(isShow, message = "") {
                if (isShow) {
                    $("#failed-alert").removeClass("hide");
                    $("#failed-alert").html(message);
                    $("#success-alert").addClass("hide");

                    gotoTop();
                } else {
                    $("#failed-alert").addClass("hide");
                    $("#failed-alert").html("");
                }
            }

            function gotoTop(){
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        }
    </script>
</html>