<!DOCTYPE html>
<html lang="en">

  {{ template "dashboard-header.tmpl" .}}

    <body class="nav-fixed">
      {{ template "dashboard-notifcenter.tmpl" .}}   

      <div id="layoutSidenav">
            <!-- Sidebar -->
            {{ template "dashboard-sidebar.tmpl" .}}
            <div id="layoutSidenav_content">
              <main>
                    <div class="container-fluid mt-5">
                        <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
                            <div class="mr-4 mb-3 mb-sm-0">
                                <h1 class="mb-0">User</h1>
                            </div>
                            <div class="dropdown">
                                <a class="btn btn-primary lift btn-sm" href="/dashboard/create-user"><i data-feather="plus"></i>Tambah Pengguna Baru</a>
                            </div>
                          
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="datatable table-responsive">
                                    <div id="filter-main-company" class="row" style="margin-bottom: 10px; display: none;">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="role">Filter Perusahaan</label>
                                                <select class="form-control form-control-sm" id="filter-by-company">
                                                    <option>-</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="filter-main-button" class="row" style="margin-bottom: 10px; display: none;">
                                        <div class="col-lg-6"></div>
                                        <div class="col-lg-6">
                                            <button class="btn btn-primary col-lg-6" style="float: right;" onclick="javascript:handleFilterAccount()">
                                                <i data-feather="search"></i> Filter
                                            </button>
                                        </div>
                                    </div>

                                    <table class="table table-bordered table-hover middle-table" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">Nama Lengkap</th>
                                                <th style="text-align: center;">Email</th>
                                                <th style="text-align: center;">Type</th>
                                                <th style="text-align: center;">Status</th>
                                                <th style="text-align: center;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{ range $index, $account := .accounts }}
                                            <tr>
                                                <td>{{ $account.Fullname }}</td>
                                                <td>{{ $account.Email }}</td>
                                                <td style="text-align: center;">
                                                    <div class="badge {{ $account.RoleColor }} badge-pill">
                                                        {{ $account.RoleWording }}
                                                    </div>
                                                </td>
                                                <td style="text-align: center;">
                                                    {{ if $account.Attribute.IsEnabled }}
                                                        <div>
                                                            Akun Aktif
                                                        </div>
                                                    {{ end }}

                                                    {{ if not $account.Attribute.IsEnabled }}
                                                        <div>
                                                            Akun Tidak Aktif
                                                        </div>
                                                    {{ end }}
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm btn-outline-primary col-sm-12" type="button" onclick="javascript:window.location='/dashboard/user?id={{ $account.ID }}'">
                                                        Detail
                                                    </button>
                                                </td>
                                            </tr>
                                            {{ end }}
                                        </tbody>
                                    </table>
                                </div>
                                <nav aria-label="...">
                                  <ul class="pagination">
                                    {{ $pagination := .pagination }}
                                    <li class="page-item {{ if (le $pagination.Page 1 ) }} disable {{ end }}">
                                        <a 
                                            class="page-link"
                                            {{ if (gt $pagination.Page 1 ) }} 
                                            href="{{ $pagination.Template }}?page={{ $pagination.PrevPage }}&rows={{ $pagination.Rows }}{{ $.filterBy }}" 
                                            {{ end }}>
                                            Sebelumnnya
                                        </a>
                                    </li>
                                    {{ range $_, $index := .pagination.ListPage }}
                                    <li class="page-item  
                                        {{ if (eq $pagination.Page $index) }} active {{ end }}">
                                        <a class="page-link" 
                                            href="{{ $pagination.Template }}?page={{ $index }}&rows={{ $pagination.Rows }}{{ $.filterBy }}">
                                            {{ $index }}
                                        </a>
                                    </li>
                                    {{ end }}
                                    <li class="page-item {{ if (ge $pagination.Page $pagination.TotalPage ) }}disable{{ end }}">
                                        <a 
                                            class="page-link" 
                                            {{ if (lt $pagination.Page $pagination.TotalPage ) }} 
                                            href="{{ $pagination.Template }}?page={{ $pagination.NextPage }}&rows={{ $pagination.Rows }}{{ $.filterBy }}"
                                            {{ end }}
                                        >
                                            Selanjutnya
                                        </a>
                                    </li>
                                  </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- Footer -->
                {{ template "dashboard-footer.tmpl" .}}
            </div>
      </div>
      
      <!-- Modal -->
      <div id="loading-pop-up" class="modal-loading">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
      </div>

    </body>
    {{ template "default-script-dashboard.tmpl" .}}

    <script>
        $(document).ready(function(){
            InitResources();
        });

        function InitResources(){
            if(session_detail.company.role == -999){
                // god company will get only about admin company
                FetchListCompany(1);
            } else if(session_detail.company.role == 1){
                // admin company will get company which registered as its members
                FetchListCompany(0);
            } 
        };

        function FetchListCompany(role){
            var params = new URLSearchParams({
                page: 1,
                rows: 50,
                order_by: "desc",
                role: role,
                is_enabled: "1"
            })

            var path = '/admin/v1/get-list-company';
            var url = product_url + path + '?' + params;
            
            let now = moment();
            // 02 Jan 06 15:04 MST
            let stdHeaderTime = now.format("DD MMM gg HH:mm");
            // datetime formatted version
            let stdFormatTime = moment(stdHeaderTime);

            let hash = generateHMACHash("GET", path, stdFormatTime.format("X") , "");
            
            var promise = $.ajax({
                url: url,
                type: 'GET',
                crossDomain: true,
                xhrFields: {
                    withCredentials: true
                },
                headers: {
                    "Authorization": GetSessionBasedOnEnv(),
                    "Accept": "application/json",
                    "User-Agent": "cgx",
                    "Authorization-2": hash,
                    "Date-Auth": stdHeaderTime+" WIB"
                }
            });

            promise.done(function(response){
                let companies = response.data.companies;

                const params = new URLSearchParams(window.location.search);
                let companyID = 0;
                if(params.get('company_id')!=null){
                    companyID = parseInt(params.get('company_id'));
                }

                let components;
                for(let i=0; i<companies.length; i++){
                    let comp;
                    if(companyID == companies[i].company_id){
                        comp = `<option value="` + companies[i].company_id + `" selected>` + companies[i].company_name + `</option>`;  
                    } else {
                        comp = `<option value="` + companies[i].company_id + `">` + companies[i].company_name + `</option>`;
                    }
                    components = components + comp;
                }
                    
                // create and push component for filter company dropdown
                $("#filter-by-company").append(components);

                $("#filter-main-company").css("display", "flex");
                $("#filter-main-button").css("display", "flex");
            }).fail(function(response){
                if(response.status > 500){
                    setError(true, defaultServerError+" cannot show filter by company");
                }
                FinishLoading();
            });

            return
        }
    
        function handleFilterAccount(){
            let companyID = $('#filter-by-company').val();
            if(companyID != null && companyID != '' && companyID >= 0) {
                window.location.href = base_url + '/dashboard/users?company_id=' + companyID;
            } else {
                window.location.href = base_url + '/dashboard/users';
            }
        }
    </script>

</html>