<!DOCTYPE html>
<html lang="en">

  {{ template "dashboard-header.tmpl" .}}

    <body class="nav-fixed">
      {{ template "dashboard-notifcenter.tmpl" .}}   

      <div id="layoutSidenav">
            <!-- Sidebar -->
            {{ template "dashboard-sidebar.tmpl" .}}
            <div id="layoutSidenav_content">
              <main>
                    <div class="container-fluid mt-5">
                        <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
                            <div class="mr-4 mb-3 mb-sm-0">
                                <h1 class="mb-0">Daftar Order</h1>
                            </div>
                            <div class="dropdown">
                                <a class="btn btn-primary lift btn-sm" href="/dashboard/order/create-order"><i data-feather="plus"></i>Tambah Order Baru</a>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="datatable table-responsive">
                                    <div>
                                        <div id="filter-main-company" class="row" style="margin-bottom: 10px; display: none;">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="role">Filter Perusahaan</label>
                                                    <select class="form-control form-control-sm" id="filter-by-company">
                                                        <option>-</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="filter-main-button" class="row" style="margin-bottom: 10px; display: none;">
                                            <div class="col-lg-6"></div>
                                            <div class="col-lg-6">
                                                <button class="btn btn-primary col-lg-6" style="float: right;" onclick="javascript:handleFilterOrder()">
                                                    <i data-feather="search"></i> Filter
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center; width: 10%">No AWB</th>
                                                <th style="text-align: center; width: 10%">Nama Klien</th>
                                                <th style="text-align: center; width: 20%">Tujuan</th>
                                                <th style="text-align: center; width: 15%">Preview Item</th>
                                                <th style="text-align: center; width: 15%">Waktu diterima</th>
                                                <th style="text-align: center; width: 15%">Status</th>
                                                <th style="text-align: center; width: 15%">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{ range $index, $order := .orders }}
                                            <tr>
                                                <td style="text-align: center">
                                                    {{ if eq $order.Status 1 }}
                                                    REJECTED
                                                    {{ end }}

                                                    {{ if ne $order.Status 1 }}
                                                    {{ $order.AWB }}
                                                    {{ end }}
                                                </td>
                                                <td>{{ $order.ReceiverName }}</td>
                                                <td>{{ $order.ReceiverAddress }}</td>
                                                <td style="text-align: center">
                                                    {{ $items := index $.mapItems $order.ID }}
                                                    {{ $length := len $items }}

                                                    {{ if eq $length 1 }}
                                                        {{ range $indexItem, $item := $items }}
                                                            {{ $item.Name }}
                                                        {{ end }}
                                                    {{ end }}

                                                    {{ if gt $length 1 }}
                                                        <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#item-backdrop-{{ $order.ID }}">
                                                            Detail barang
                                                        </button>
                                                    {{ end }}
                                                </td>
                                                <td>{{ $order.ArrivedTimeStr }}</td>
                                                <td style="text-align: center">
                                                    <div class="badge badge-pill {{ $order.StatusBadge }}">{{ $order.StatusName }}</div>
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm btn-outline-primary col-sm-12" type="button" onclick="javascript:window.location='/dashboard/order?id={{ $order.ID }}'">view</button>
                                                </td>
                                            </tr>
                                            {{ end }}
                                        </tbody>
                                    </table>
                                </div>
                                <nav aria-label="...">
                                  <ul class="pagination">
                                    <li class="page-item">
                                        <a id="prev-page" class="page-link" href="">
                                            Sebelumnya
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a id="next-page" class="page-link" href="">
                                            Selanjutnya
                                        </a>
                                    </li>
                                  </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- Footer -->
                {{ template "dashboard-footer.tmpl" .}}
            </div>
      </div>
      
      <!-- Modal -->
      <div id="loading-pop-up" class="modal-loading">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
      </div>

       <!-- modal detail barang -->
       {{ range $key, $items := .mapItems }}
       {{ $length := len $items }}

       {{ if gt $length 1 }}
       <div class="modal fade" id="item-backdrop-{{ $key }}" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="item-backdrop-{{ $key }}-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body"><div class="datatable table-responsive mt-4">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nama produk</th>
                                    <th>Deskripsi produk</th>
                                    <th>Jumlah</th>

                                </tr>
                            </thead>
                            <tbody>
                                {{ range $key, $item := $items }}
                                <tr>
                                    <td>
                                        {{ $item.Name }}
                                    </td>
                                    <td> 
                                        {{ $item.Notes }}
                                    </td>
                                    <td>
                                        {{ $item.Quantity }} {{ $item.UnitName }}
                                    </td>
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div></div>
                    <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button></div>
                </div>
            </div>
        </div>
        {{ end }}

        {{ end }}

    </body>
    {{ template "default-script-dashboard.tmpl" .}}
    <script>
        var haveNext = {{ .next }};

        $(document).ready(function(){
            if(session_detail.company.role == -999 || session_detail.company.role == 1){
                FetchListCompany();
            }

            setPagination();
        });

        function setPagination(){
            var url = window.location.origin + window.location.pathname;
            var payload = {
                page: 0
            };
             
            var currParams = new URLSearchParams(window.location.search);
            
            var companyID = parseInt(currParams.get("company_id"));
            if(!(companyID <= 0 || companyID == NaN || currParams.get("company_id") == null)){
                payload.company_id = companyID;
            }

            var page = parseInt(currParams.get("page"));
            if(page <= 0 || page == NaN || currParams.get("page") == null){
                page = 1;
            }
            
            if(haveNext){
                $("#next-page").css("cursor", "pointer");
                payload.page = page + 1;

                let params = new URLSearchParams(payload);    
                $("#next-page").attr("href", url + "?" + params);
            } else {
                $("#next-page").css("cursor", "inherit");
                $("#next-page").css("pointer-events", "none");
                $("#next-page").attr("href", "");
            }

            if(page > 1){
                $("#prev-page").css("cursor", "pointer");
                payload.page = page - 1;

                let params = new URLSearchParams(payload);    
                $("#prev-page").attr("href", url + "?" + params);
            } else {
                $("#prev-page").css("cursor", "inherit");
                $("#prev-page").css("pointer-events", "none");
                $("#prev-page").attr("href", "");
            }
        }

        function FetchListCompany(){
            var params = new URLSearchParams({
                page: 1,
                rows: 50,
                order_by: "desc",
                is_enabled: "1"
            })
            
            var path = '/admin/v1/get-list-company';
            var url = product_url + path + '?' + params;
            
            let now = moment();
            // 02 Jan 06 15:04 MST
            let stdHeaderTime = now.format("DD MMM gg HH:mm");
            // datetime formatted version
            let stdFormatTime = moment(stdHeaderTime);

            let hash = generateHMACHash("GET", path, stdFormatTime.format("X") , "");

            var promise = $.ajax({
                url: url,
                type: 'GET',
                crossDomain: true,
                xhrFields: {
                    withCredentials: true
                },
                headers: {
                    "Authorization": GetSessionBasedOnEnv(),
                    "Accept": "application/json",
                    "User-Agent": "cgx",
                    "Authorization-2": hash,
                    "Date-Auth": stdHeaderTime+" WIB"
                }
            });

            promise.done(function(response){
                let companies = response.data.companies;

                const params = new URLSearchParams(window.location.search);
                let companyID = 0;
                if(params.get('company_id')!=null){
                    companyID = parseInt(params.get('company_id'));
                }

                let components;
                for(let i=0; i<companies.length; i++){
                    let comp;
                    if(companyID == companies[i].company_id){
                        comp = `<option value="` + companies[i].company_id + `" selected>` + companies[i].company_name + `</option>`;  
                    } else {
                        comp = `<option value="` + companies[i].company_id + `">` + companies[i].company_name + `</option>`;
                    }
                    components = components + comp;
                }
                    
                // create and push component for filter company dropdown
                $("#filter-by-company").append(components);

                $("#filter-main-company").css("display", "flex");
                $("#filter-main-button").css("display", "flex");
            }).fail(function(response){
                if(response.status > 500){
                    setError(true, defaultServerError+" cannot show filter by company");
                }
                FinishLoading();
            });

            return
        }

        function handleFilterOrder(){
            let companyID = $('#filter-by-company').val();
            if(companyID != null && companyID != '' && companyID >= 0) {
                window.location.href = base_url + '/dashboard/orders?company_id=' + companyID;
            } else {
                window.location.href = base_url + '/dashboard/orders';
            }
        }
    </script>
</html>