<!DOCTYPE html>
<html lang="en">

  {{ template "dashboard-header.tmpl" .}}

    <body class="nav-fixed">
      {{ template "dashboard-notifcenter.tmpl" .}}   

      <div id="layoutSidenav">
            <!-- Sidebar -->
            {{ template "dashboard-sidebar.tmpl" .}}
            <div id="layoutSidenav_content">
              <main>
                    <div class="container-fluid mt-5">
                        <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
                            <div class="mr-4 mb-3 mb-sm-0">
                                <h1 class="mb-0">Daftar Order</h1>
                            </div>
                            <div class="dropdown">
                                <a class="btn btn-primary lift btn-sm" href="/dashboard/order/create-order"><i data-feather="plus"></i>Tambah Order Baru</a>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="datatable table-responsive">
                                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center; width: 10%">No AWB</th>
                                                <th style="text-align: center; width: 10%">Klien</th>
                                                <th style="text-align: center; width: 20%">Tujuan</th>
                                                <th style="text-align: center; width: 15%">Preview Item</th>
                                                <th style="text-align: center; width: 15%">Waktu diterima</th>
                                                <th style="text-align: center; width: 15%">Status</th>
                                                <th style="text-align: center; width: 15%">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{ range $index, $order := .orders }}
                                            <tr>
                                                <td>{{ $order.AWB }}</td>
                                                <td>{{ $order.CompanyName }}</td>
                                                <td>{{ $order.ReceiverAddress }}</td>
                                                <td style="text-align: center">
                                                    {{ $items := index $.mapItems $order.ID }}
                                                    {{ $length := len $items }}

                                                    {{ if eq $length 1 }}
                                                        {{ range $indexItem, $item := $items }}
                                                            {{ $item.Name }}
                                                        {{ end }}
                                                    {{ end }}

                                                    {{ if gt $length 1 }}
                                                        <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#item-backdrop-{{ $order.ID }}">
                                                            Detail barang
                                                        </button>
                                                    {{ end }}
                                                </td>
                                                <td></td>
                                                <td style="text-align: center">
                                                    <div class="badge badge-primary badge-pill">{{ $order.StatusName }}</div>
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm btn-outline-primary col-sm-12" type="button" onclick="javascript:window.location='/dashboard/order?id={{ $order.ID }}'">view</button>
                                                </td>
                                            </tr>
                                            {{ end }}
                                        </tbody>
                                    </table>
                                </div>
                                <nav aria-label="...">
                                  <ul class="pagination">
                                    {{ $pagination := .pagination }}
                                    <li class="page-item {{ if (le $pagination.Page 1 ) }} disable {{ end }}">
                                        <a 
                                            class="page-link"
                                            {{ if (gt $pagination.Page 1 ) }} 
                                            href="{{ $pagination.Template }}?page={{ $pagination.PrevPage }}&rows={{ $pagination.Rows }}" 
                                            {{ end }}>
                                            Sebelumnnya
                                        </a>
                                    </li>
                                    <li class="page-item {{ if (ge $pagination.Page $pagination.TotalPage ) }}disable{{ end }}">
                                        <a 
                                            class="page-link" 
                                            {{ if (lt $pagination.Page $pagination.TotalPage ) }} 
                                            href="{{ $pagination.Template }}?page={{ $pagination.NextPage }}&rows={{ $pagination.Rows }}"
                                            {{ end }}
                                        >
                                            Selanjutnya
                                        </a>
                                    </li>
                                  </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- Footer -->
                {{ template "dashboard-footer.tmpl" .}}
            </div>
      </div>
      
      <!-- Modal -->
      <div id="loading-pop-up" class="modal-loading">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
      </div>

       <!-- modal detail barang -->
       {{ range $key, $items := .mapItems }}
       {{ $length := len $items }}

       {{ if gt $length 1 }}
       <div class="modal fade" id="item-backdrop-{{ $key }}" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="item-backdrop-{{ $key }}-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body"><div class="datatable table-responsive mt-4">
                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Nama produk</th>
                                    <th>Deskripsi produk</th>
                                    <th>Jumlah</th>

                                </tr>
                            </thead>
                            <tbody>
                                {{ range $key, $item := $items }}
                                <tr>
                                    <td>
                                        {{ $item.Name }}
                                    </td>
                                    <td> 
                                        {{ $item.Notes }}
                                    </td>
                                    <td>
                                        {{ $item.UnitName }}
                                    </td>
                                </tr>
                                {{ end }}
                            </tbody>
                        </table>
                    </div></div>
                    <div class="modal-footer"><button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button></div>
                </div>
            </div>
        </div>
        {{ end }}

        {{ end }}

    </body>
    {{ template "default-script-dashboard.tmpl" .}}
</html>