<!DOCTYPE html>
<html lang="en">

  {{ template "dashboard-header.tmpl" .}}

    <body class="nav-fixed">
      {{ template "dashboard-notifcenter.tmpl" .}}   

      <div id="layoutSidenav">
          <!-- Sidebar -->
          {{ template "dashboard-sidebar.tmpl" .}}
          <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid mt-5">
                        <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
                            <div class="mr-4 mb-3 mb-sm-0">
                                <h1 class="mb-0">Update Akun {{ .account.Fullname }}</h1>
                                <button class="btn btn-light btn-sm" type="button" onclick="javascript:window.location='/dashboard/users'"><i data-feather="chevron-left"></i>Kembali</button>                        
                            </div>
                            <div id="success-alert" class="alert alert-success hide" role="alert"></div>
                            <div id="failed-alert" class="alert alert-danger hide" role="alert"></div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-body">
                                <form action="">
                                    <form>
                                        <div class="form-group">
                                            <label for="fullname">Nama Lengkap</label>
                                            <input class="form-control form-control-sm" id="fullname" value="{{ .account.Fullname }}" autocomplete="off" />
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Nomor Telepon</label>
                                            <input class="form-control form-control-sm" id="phone" type="phone" value="{{ .account.PhoneNumber }}" autocomplete="off" />
                                        </div>
                                        <div class="form-group">
                                            <label for="role">Role</label>
                                            <select class="form-control form-control-sm" id="role">
                                                <option value="1" {{ if eq .account.Role 1 }}selected{{ end }}>Admin</option>
                                                <option value="2" {{ if eq .account.Role 2 }}selected{{ end }}>Operator</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Foto Profile</label>
                                            <div class="row" style="margin-left: 50px">
                                                <div class="col-xs-6">
                                                    <div id="profile-image-banner">
                                                        {{ if ne .account.ProfileImage "" }}
                                                        <img class="image-cover" src="{{ .account.ProfileImage }}" />
                                                        {{ end }}
                                                    </div>
                                                    <div id="upload_button-banner" class="upload_button-first">
                                                        <label>
                                                            <input id="profile-image" type="file" onchange="javascript:uploadImage()" />
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-success btn-sm" onClick="javascript:ProcessUpdate()" type="button">Update User</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </main> 
                <!-- Footer -->
                {{ template "dashboard-footer.tmpl" .}}
          </div>
      </div>
      
      <!-- Modal -->
      <div id="loading-pop-up" class="modal-loading">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
      </div>

    </body>
    {{ template "default-script-dashboard.tmpl" .}}

    <script>
        function ProcessUpdate(){
            setError(false, "");

            var id = {{ .account.ID }};
            var email = {{ .account.Email }};
            var fullname = $("#fullname").val();
            var phone = $("#phone").val();
            var role = $('#role :selected').val();
            var profileImage;
            
            if($("#profile-image") != null && $("#profile-image").length > 0){
                profileImage = $("#profile-image")[0].files[0];
            }

            StartLoading();
            var promise = Update(id,email,fullname,phone,role,profileImage);
            promise.done(function(response){
                response = response.data;

                if(response.error!=null){
                    setError(true, response.error.detail);
                } else {
                    setError(false, "");
                    $("#success-alert").removeClass("hide");
                    $("#success-alert").html("Sukses melakukan update akun");
                }
                gotoTop();
                FinishLoading();
            }).fail(function(response){
                FinishLoading();
                var status = response.status;
                if(status >= 500){
                    setError(true, "Ada kendala pada server, silahkan mencoba sekali lagi");                
                } else {
                    response = response.responseJSON.data;
                    setError(true, response.error);
                }
            });
        }
    
        function Update(id, email, fullname, phone, role, profileImage){
            var url = base_url + '/dashboard/user/update';

            var fd = new FormData();
            fd.append('id', id);
            fd.append('email', email);
            fd.append('fullname', fullname);
            fd.append('phone', phone);
            fd.append('role', role);
            fd.append('profile_image', profileImage);
            
            var promise = $.ajax({
                url: url,
                type: 'POST',
                data: fd,
                processData: false,
                contentType: false,
                cache : false,
                xhrFields: {
                    withCredentials: true
                }
            });

            return promise;
        }

        function setError(isShow, message = "") {
            if (isShow) {
                $("#failed-alert").removeClass("hide");
                $("#failed-alert").html(message);
                $("#success-alert").addClass("hide");

                gotoTop();
            } else {
                $("#failed-alert").addClass("hide");
                $("#failed-alert").html("");
            }
        }

        function uploadImage() {
            /* 200KB */
            var imageSizeValidation = 200000;
            var minWidth = 500;

            var companyImage = $("#profile-image")[0].files[0];
            var $mainContainer = $("#profile-image-banner");
            
            if(companyImage.size > imageSizeValidation){
                $("#profile-image").val("");
                $mainContainer.empty();
                setError(true, "Maksimal ukuran gambar adalah 200 KB");
                return
            }

            var reader = new FileReader();
            reader.onload = function(e) {
                var image = e.target.result;
                var imageObj = new Image();

                imageObj.src = e.target.result;
                imageObj.onload = function() {
                    var height = this.height;
                    var width = this.width;
                    if(width <= minWidth && height <= minWidth) {
                        $("#profile-image").val("");
                        $mainContainer.empty();
                        setError(true, "Dimensi cover harus kurang dari "+minWidth);
                        return;
                    }

                    $mainContainer.empty();
                    var imgs = $('<img class="image-cover' + '" src=' + image + " />");
                    $mainContainer.append(imgs);
                };
            };

            reader.readAsDataURL(companyImage);
        }

        function gotoTop(){
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

</html>