<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trek.id | Sewa alat berat semudah klik</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="etc/favicon.ico" />

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">
    
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top ">
      
        <a href="index">
            <img src="img/logo-trek.png" width="100" height="35" class="d-inline-block align-top" alt="" style="margin-right:20px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="margin:0 10px 0;">
              <a class="nav-link js-scroll-trigger" href="index#about-us"><b>TENTANG KAMI</b></a>
            </li>
            <li class="nav-item" style="margin:0 10px 0;">
              <a class="nav-link js-scroll-trigger" href="index#our-advanced"><b>KEUNGGULAN</b></a>
            </li>
          
            <li class="nav-item " style="margin:0 10px 0;">
              <a class="nav-link js-scroll-trigger" href="index#our-partner"><b>PENYEDIA ALAT</b></a>
            </li>
          </ul>
          <a class="btn btn-trek" style="margin:0 10px 0; color: rgba(14, 14, 14, 0.68);"href="tel:+628111368735"><i class="fa fa-phone"></i> 0811-136-TREK (8735)</a>
          
        </div>
      </nav>
    
    <div class="col-md-12">
        <object width="100%" height="500px" data="file/Syarat dan Ketentuan.pdf"></object>   
    </div>
    <!-- Footer -->
    <footer class="footer bg-dark-grey">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="syarat" style="color:white;">Syarat dan Ketentuan</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="kebijakan"style="color:white;">Kebijakan Privasi</a>
              </li>
              
            </ul>
            <p class=" small mb-4 mb-lg-0" style="color:white;">&copy; Trek 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="https://www.facebook.com/trekdotid" style="color:white;" target="_blank">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="https://twitter.com/trekdotid" style="color:white;" target="_blank">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/trek.id" style="color:white;" target="_blank">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

  <!--End of Tawk.to Script-->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112381262-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-112381262-1');
    </script>
  </body>

</html>
