<!DOCTYPE html>
<html lang="en">
  {{ template "dashboard-header.tmpl" .}}

  <body id="page-top" data-spy="scroll" data-target=".navbar" data-offset="1">
    {{ template "dashboard-nav.tmpl" .}}

    <div id="wrapper">

      <!-- Sidebar -->
      {{ template "admin-sidebar.tmpl" .}}

      <div id="content-wrapper">
        <div class="container-fluid">

            <h4 style="font-weight:bolder;">Tambah Produk</h4> 
            <h6 style="font-weight:bolder;"><span style="color:red;">Peringatan</span> Data Produk ini akan ditampilkan di-home</h6>
            <hr>

            <div class="row" style="margin-bottom: 5%">
                <div class="col-md-12">

                    <div class="row" style="margin: 0 10%;"> <!-- row -->
                        <div class="col-lg-12 form-group">
                            <label for="product-name">Nama Produk</label>
                            <input class="form-control" id="product-name">
                        </div>
                        <div class="col-lg-12 form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="type">Tipe Produk</label>
                                    <select id="type" class="form-control col-lg-12">
                                        <option value="1">Produk ID Individu</option>
                                        <option value="2">Produk ID Bersama</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 form-group">
                            <label for="price-rent-daily">Harga sewa per hari</label>
                            <span id="product-price-to-rent-daily" style="font-weight:bolder;"></span>
                            <input type="number" class="form-control" id="price-rent-daily" min="0">
                        </div>
                        <div class="col-lg-12 form-group">
                            <label for="price-rent-weekly">Harga sewa per minggu</label>
                            <span id="product-price-to-rent-weekly" style="font-weight:bolder;"></span>
                            <input type="number" class="form-control" id="price-rent-weekly" min="0">
                        </div>
                        <div class="col-lg-12 form-group">
                            <label for="price-rent-monthly">Harga sewa per bulan</label>
                            <span id="product-price-to-rent-monthly" style="font-weight:bolder;"></span>
                            <input type="number" class="form-control" id="price-rent-monthly" min="0">
                        </div>
                        <div class="col-lg-12 form-group">
                            <label for="path">Path Url</label>
                            <input class="form-control" id="path">
                        </div>

                        <div class="col-lg-12" style="margin-top: 2%;">
                            <div class="row">
                                <a class="col-lg-12 btn btn-home" onClick="javascript:ProcessSaveNew()">SIMPAN</a>
                            </div>
                        </div>
                    </div> <!-- end of row -->

                </div>
            </div>

        </div> <!-- /.container-fluid -->
      </div> <!-- /.content-wrapper -->
    </div> <!-- /#wrapper -->
    
    {{ template "dashboard-footer.tmpl" .}}

    {{ template "default-script-admin.tmpl" .}}
  </body>

</html>
