<!-- Sidebar -->
<ul class="sidebar navbar-nav">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="sidebar-trek-config" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-user"></i>
      <span>Customer</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="sidebar-trek-config">
      <a class="dropdown-item" style="cursor: pointer" onClick="javascript:GoToIndex('admin/user/new')">Tambah Pengguna</a>
      <a class="dropdown-item" style="cursor: pointer" onClick="javascript:GoToIndex('admin/user')">Daftar Pengguna</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="sidebar-trek-config" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-copyright"></i>
      <span>Produk</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="sidebar-trek-config">
      <a class="dropdown-item" style="cursor: pointer" onClick="javascript:GoToIndex('admin/product/new')">Tambah Produk</a>
      <a class="dropdown-item" style="cursor: pointer" onClick="javascript:GoToIndex('admin/product')">Daftar Produk</a>
    </div>
  </li>
  
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="sidebar-trek-config" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-gear"></i>
      <span>Pengaturan Akun</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="sidebar-trek-config">
      <a class="dropdown-item" style="cursor: pointer" onClick="javascript:GoToIndex('admin/ganti-password')">Ganti Password</a>
    </div>
  </li>
</ul>