<!DOCTYPE html>
<html lang="en">
{{ template "dashboard-header.tmpl" .}}

  <body id="page-top" data-spy="scroll" data-target=".navbar" data-offset="1">
    {{ template "dashboard-nav.tmpl" .}}

    <div id="wrapper">

      <!-- Sidebar -->
      {{ template "admin-sidebar.tmpl" .}}

      <div id="content-wrapper">
        <div class="container-fluid">
          <section class="features-icons bg-white text-center">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <h2>List Produk yang ditampilkan</h2>
                </div>
              </div>
              <div class="row" >
                <div id="parent-list-products"></div>
              </div>  
            </div>
          </section>
        </div> <!-- /.container-fluid -->
      </div> <!-- /.content-wrapper -->
    </div> <!-- /#wrapper -->
    
    {{ template "dashboard-footer.tmpl" .}}

    {{ template "default-script-admin.tmpl" .}}
  </body>
<script type="text/javascript">
    $(document).ready(function(){    
        loadlistProduct(50);
    });
</script>
</html>
