<!DOCTYPE html>
<html lang="en">

  {{ template "dashboard-header.tmpl" .}}

  <body id="page-top" data-spy="scroll" data-target=".navbar" data-offset="1">
    {{ template "dashboard-nav.tmpl" .}}

    <div id="wrapper">

      <!-- Sidebar -->
      {{ template "admin-sidebar.tmpl" .}}

      <div id="content-wrapper">
        <div class="container-fluid">
          <h1>Selamat Datang Admin Trek</h1>
          <hr>
        </div> <!-- /.container-fluid -->
      </div> <!-- /.content-wrapper -->
    </div> <!-- /#wrapper -->
    
    {{ template "dashboard-footer.tmpl" .}}

    {{ template "default-script-admin.tmpl" .}}
  </body>
</html>
