<!DOCTYPE html>
<html lang="en">
  <link href="/css/user/login.css" rel="stylesheet">
  <link href="/css/about-us.css" rel="stylesheet">
  {{ template "header.tmpl" .}}

  <body class="hold-transition login-page">
    {{ template "main-navigation.tmpl" .}}
    
    <!-- Modal -->
    <div id="loading-pop-up" class="modal-loading">
      <div class="lds-facebook"><div></div><div></div><div></div></div>
    </div>

    <div class="login-box"> <!-- login-box -->
        <div class="login-logo">
            <a href="#">
                <b>CGX</b> LOGIN
            </a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <div class="form-group has-feedback">
                <input id="email" class="form-control" placeholder="email">
            </div>
            <div class="form-group has-feedback">
                <input id="password" class="form-control" placeholder="password" type="password">
            </div>
            <div class="row">
                <div class="col-sm-8"></div> <!-- /.col -->
                <div class="col-sm-4">
                    <button class="btn btn-primary btn-block btn-flat" onClick="javascript:ProcessLogin()">Sign In</button>
                </div> <!-- /.col -->
                <div class="col-sm-12">
                    <div class="form_error hide" id="login_error"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <a href="reset-password">Forget Password ?</a>
                </div> <!-- /.col -->
                <div class="col-sm-4"></div> <!-- /.col -->
            </div>
        </div>
    </div> <!-- end of login-box -->

    {{ template  "footer.tmpl" .}}

  <!--End of Tawk.to Script-->
    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/datetime-picker/js/moment-with-locales.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/datetime-picker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
      function StartLoading(){
          document.getElementById('loading-pop-up').style.display = "block";
      }
      function FinishLoading(){
          document.getElementById('loading-pop-up').style.display = "none";
      }
    </script>

    {{ template "default-script.tmpl" .}}
  </body>

</html>
