<!DOCTYPE html>
<html lang="en">
  <link href="/css/user/login.css" rel="stylesheet">
  {{ template "header.tmpl" .}}

  <body class="hold-transition login-page">
    {{ template "main-navigation.tmpl" .}}
    
    <div class="login-box"> <!-- login-box -->
        <div class="login-logo">
            <a href="#">
                <b>TREK</b>RESET PASSWORD
            </a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Isi email untuk melakukan reset password</p>
            <div class="form-group has-feedback">
                <input id="email" class="form-control" placeholder="Email">
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary btn-block btn-flat" onClick="javascript:ProcessResetPassword()">Lanjut</button>
                </div> <!-- /.col -->
            </div>
        </div>
    </div> <!-- end of login-box -->

    <div id="request-alert-div" class="alert alert-danger" style="display:none;">
      <strong><p id="request-alert"></p></strong>
    </div>

    {{ template  "footer.tmpl" .}}

  <!--End of Tawk.to Script-->
    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/datetime-picker/js/moment-with-locales.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/datetime-picker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    {{ template "default-script.tmpl" .}}
  </body>

</html>
